Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: poetry run black docling docs/examples tests
        pass_filenames: false
        language: system
        files: '\.py$'
      - id: isort
        name: isort
        entry: poetry run isort docling docs/examples tests
        pass_filenames: false
        language: system
        files: '\.py$'
#      - id: flake8
#        name: flake8
#        entry: poetry run flake8 docling
#        pass_filenames: false
#        language: system
#        files: '\.py$'
      - id: mypy
        name: MyPy
        entry: poetry run mypy docling
        pass_filenames: false
        language: system
        files: '\.py$'
      - id: nbqa_black
        name: nbQA Black
        entry: poetry run nbqa black docs/examples
        pass_filenames: false
        language: system
        files: '\.ipynb$'
      - id: nbqa_isort
        name: nbQA isort
        entry: poetry run nbqa isort docs/examples
        pass_filenames: false
        language: system
        files: '\.ipynb$'
      - id: poetry
        name: Poetry check
        entry: poetry check --lock
        pass_filenames: false
        language: system

chore: update lockfile
  poetry.lock
Due: none

pin latest docling-core
  poetry.lock
  pyproject.toml
Due: none

update docling-core pinning
  poetry.lock
  pyproject.toml
Due: none

pin docling-core
  poetry.lock
  pyproject.toml
Due: none

use new add_code in backends and update typing in MD backend
  docling/backend/html_backend.py
  docling/backend/md_backend.py
Due: black, isort, mypy

Add tesseract-ocr-script-latn installation for the "auto" language
  .github/workflows/checks.yml
Due: none

Modify "auto" language in TesseractOcr to initialize the script readers lazily
  docling/models/tesseract_ocr_model.py
Due: black, isort, mypy

added if statement for backend
  docling/datamodel/pipeline_options.py
  docling/models/code_formula_model.py
  docling/pipeline/base_pipeline.py
  docling/pipeline/standard_pdf_pipeline.py
  poetry.lock
  pyproject.toml
  tests/data/code_and_formula.pdf
  tests/test_code_formula.py
Due: black, isort, mypy

removed unused import
  docling/pipeline/base_pipeline.py
Due: black, isort, mypy

Finalize script readers
  docling/models/tesseract_ocr_model.py
Due: black, isort, mypy

Fix script models prefix for Linux
  docling/models/tesseract_ocr_model.py
Due: black, isort, mypy

feat: add "auto" language for TesseractOcr (#759)
  .github/workflows/checks.yml
  docling/models/tesseract_ocr_model.py
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

removed print statements
  docling/models/code_formula_model.py
  tests/test_code_formula.py
Due: black, isort, mypy

Expose `rec_keys_path` in RapidOcrOptions to support custom dictionaries
  docling/datamodel/pipeline_options.py
  docling/models/rapid_ocr_model.py
Due: black, isort, mypy

v0 of latex export of equations from docx files
  docling/backend/docx_latex/__init__.py
  docling/backend/docx_latex/latex_dict.py
  docling/backend/docx_latex/omml.py
  docling/backend/msword_backend.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

Remove py2 flag
  docling/backend/docx_latex/omml.py
Due: black, isort, mypy

remove print
  docling/backend/msword_backend.py
Due: black, isort, mypy

feat: Introduce automatic language detection in tesseract_ocr_cli model. Extend unit tests.
  docling/models/tesseract_ocr_cli_model.py
  docling/models/tesseract_ocr_model.py
  docling/utils/ocr_utils.py
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

docs: Add example how to use "auto" language with tesseract OCR engines
  docs/examples/tesseract_lang_detection.py
  mkdocs.yml
Due: black, isort, mypy

docs: add Azure RAG example
  docs/examples/rag_azuresearch.ipynb
  mkdocs.yml
Due: nbqa_black, nbqa_isort

fix env var sourcing, remove unused imports
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

docs: add Azure RAG example (#675)
  docs/examples/rag_azuresearch.ipynb
  mkdocs.yml
Due: nbqa_black, nbqa_isort

Update rag_azuresearch.ipynb
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

gt for new pdf
  tests/data/groundtruth/docling_v1/code_and_formula.doctags.txt
  tests/data/groundtruth/docling_v1/code_and_formula.json
  tests/data/groundtruth/docling_v1/code_and_formula.md
  tests/data/groundtruth/docling_v1/code_and_formula.pages.json
  tests/data/groundtruth/docling_v2/code_and_formula.doctags.txt
  tests/data/groundtruth/docling_v2/code_and_formula.json
  tests/data/groundtruth/docling_v2/code_and_formula.md
  tests/data/groundtruth/docling_v2/code_and_formula.pages.json
Due: none

Update docling/pipeline/standard_pdf_pipeline.py
  docling/pipeline/standard_pdf_pipeline.py
Due: black, isort, mypy

fixed doc comment of __call__ function of code_formula_model
  docling/models/code_formula_model.py
Due: black, isort, mypy

fix artifacts_path type
  docling/models/code_formula_model.py
Due: black, isort, mypy

move imports
  docling/models/code_formula_model.py
Due: black, isort, mypy

move expansion_factor to base class
  docling/models/base_model.py
  docling/models/code_formula_model.py
Due: black, isort, mypy

fixed some issues
  docling/backend/msexcel_backend.py
  tests/data/groundtruth/docling_v2/test-01.xlsx.itxt
  tests/data/groundtruth/docling_v2/test-01.xlsx.json
  tests/data/groundtruth/docling_v2/test-01.xlsx.md
  tests/data/xlsx/test-01.xlsx
  tests/test_backend_msexcel.py
Due: black, isort, mypy

docs: fix minor typos (#801)
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

reformatted the code
  docling/backend/msexcel_backend.py
Due: black, isort, mypy

feat: Code and equation model for PDF and code blocks in markdown (#752)
  docling/backend/asciidoc_backend.py
  docling/backend/html_backend.py
  docling/backend/md_backend.py
  docling/backend/msexcel_backend.py
  docling/backend/msword_backend.py
  docling/backend/pdf_backend.py
  docling/datamodel/pipeline_options.py
  docling/models/base_model.py
  docling/models/code_formula_model.py
  docling/models/layout_model.py
  docling/models/page_assemble_model.py
  docling/models/tesseract_ocr_cli_model.py
  docling/pipeline/base_pipeline.py
  docling/pipeline/standard_pdf_pipeline.py
  docling/utils/glm_utils.py
  docs/examples/develop_picture_enrichment.py
  poetry.lock
  pyproject.toml
  tests/data/code_and_formula.pdf
  tests/data/groundtruth/docling_v1/code_and_formula.doctags.txt
  tests/data/groundtruth/docling_v1/code_and_formula.json
  tests/data/groundtruth/docling_v1/code_and_formula.md
  tests/data/groundtruth/docling_v1/code_and_formula.pages.json
  tests/data/groundtruth/docling_v2/code_and_formula.doctags.txt
  tests/data/groundtruth/docling_v2/code_and_formula.json
  tests/data/groundtruth/docling_v2/code_and_formula.md
  tests/data/groundtruth/docling_v2/code_and_formula.pages.json
  tests/test_code_formula.py
Due: black, isort, mypy

feat: expose draw_clusters function
  docling/models/layout_model.py
  docling/utils/visualization.py
Due: black, isort, mypy

update conversion as per review comments, add tests, revert Docling JSON disambiguation, document intricacies
  docling/backend/json/docling_json_backend.py
  docling/datamodel/document.py
  tests/test_backend_docling_json.py
  tests/test_input_doc.py
Due: black, isort, mypy

Update docling/backend/json/docling_json_backend.py
  docling/backend/json/docling_json_backend.py
Due: black, isort, mypy

chore: expose draw_clusters function (#803)
  docling/models/layout_model.py
  docling/utils/visualization.py
Due: black, isort, mypy

figure classifier
  docling/datamodel/pipeline_options.py
  docling/models/document_picture_classifier.py
  docling/pipeline/standard_pdf_pipeline.py
Due: black, isort, mypy

gt for e2e tests
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v1/picture_classification.doctags.txt
  tests/data/groundtruth/docling_v1/picture_classification.json
  tests/data/groundtruth/docling_v1/picture_classification.md
  tests/data/groundtruth/docling_v1/picture_classification.pages.json
  tests/data/groundtruth/docling_v2/picture_classification.doctags.txt
  tests/data/groundtruth/docling_v2/picture_classification.json
  tests/data/groundtruth/docling_v2/picture_classification.md
  tests/data/groundtruth/docling_v2/picture_classification.pages.json
Due: none

tests
  tests/data/picture_classification.pdf
  tests/test_document_picture_classifier.py
Due: black, isort, mypy
