Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

black:
  name: Black
  entry: poetry run black docling docs/examples tests
  pass_filenames: false
  language: system

isort:
  name: isort
  entry: poetry run isort docling docs/examples tests
  pass_filenames: false
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy docling
  pass_filenames: false
  language: system

nbqa_black:
  name: nbQA Black
  entry: poetry run nbqa black docs/examples
  pass_filenames: false
  language: system

nbqa_isort:
  name: nbQA isort
  entry: poetry run nbqa isort docs/examples
  pass_filenames: false
  language: system

fix: Added handling of grouped elements in pptx backend (#307)
  docling/backend/mspowerpoint_backend.py
Due: black, isort, mypy

consolidate advanced chunker notebook
  docs/examples/advanced_chunking_with_merging.ipynb
Due: nbqa_black, nbqa_isort

fix: Move common OCR code in the BaseOcrModel class
  docling/models/base_ocr_model.py
  docling/models/easyocr_model.py
  docling/models/tesseract_ocr_cli_model.py
  docling/models/tesseract_ocr_model.py
Due: black, isort, mypy

minor typing fix
  docs/examples/advanced_chunking_with_merging.ipynb
Due: nbqa_black, nbqa_isort

docs: Hybrid RAG with Qdrant
  docs/examples/hybrid_rag_qdrant.ipynb
Due: nbqa_black, nbqa_isort

Handling of single-cell tables in DOCX backend
  docling/backend/msword_backend.py
Due: black, isort, mypy

feat(OCR): Introduce the OcrOptions.force_full_page_ocr parameter that forces a full page OCR scanning (#290)
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/models/base_ocr_model.py
  docling/models/easyocr_model.py
  docling/models/tesseract_ocr_cli_model.py
  docling/models/tesseract_ocr_model.py
  docs/examples/full_page_ocr.py
  mkdocs.yml
  tests/test_e2e_ocr_conversion.py
  tests/verify_utils.py
Due: black, isort, mypy

returned try-catch on tables handling
  docling/backend/msword_backend.py
Due: black, isort, mypy

cleaned
  docling/backend/msword_backend.py
Due: black, isort, mypy

Configure env prefix for docling settings
  docling/datamodel/settings.py
Due: black, isort, mypy

fix: Configure env prefix for docling settings (#315)
  docling/datamodel/settings.py
Due: black, isort, mypy

docs: add Data Prep Kit integration
  docs/integrations/data_prep_kit.md
  docs/integrations/llamaindex.md
  mkdocs.yml
Due: none

chore: pre-commit again
  docs/examples/hybrid_rag_qdrant.ipynb
  docs/examples/rag_langchain.ipynb
Due: nbqa_black, nbqa_isort

docs: add Data Prep Kit integration (#316)
  docs/integrations/data_prep_kit.md
  docs/integrations/llamaindex.md
  mkdocs.yml
Due: none

chore: review updates
  docs/examples/hybrid_rag_qdrant.ipynb
  docs/examples/rag_langchain.ipynb
  mkdocs.yml
Due: nbqa_black, nbqa_isort

proceed processing the content of single cell table as if its just part of the body
  docling/backend/msword_backend.py
Due: black, isort, mypy

fix token counting bug, minor revamping
  docs/examples/advanced_chunking_with_merging.ipynb
Due: nbqa_black, nbqa_isort

Added example of trickly 1 cell table docx
  tests/data/docx/tablecell.docx
Due: none

docs: Hybrid RAG with Qdrant (#312)
  docs/examples/hybrid_rag_qdrant.ipynb
  mkdocs.yml
Due: nbqa_black, nbqa_isort

fix: Handling of single-cell tables in DOCX backend (#314)
  docling/backend/msword_backend.py
  tests/data/docx/tablecell.docx
Due: black, isort, mypy

chore: fix Qdrant notebook Colab link
  docs/examples/hybrid_rag_qdrant.ipynb
Due: nbqa_black, nbqa_isort

fix: skip glm model downloads
  docling/models/ds_glm_model.py
Due: black, isort, mypy

fix: skip glm model downloads (#322)
  docling/models/ds_glm_model.py
Due: black, isort, mypy

experimental, wip - adding optional word-level cells to page_processing and table model
  docling/backend/docling_parse_v2_backend.py
  docling/backend/pdf_backend.py
  docling/datamodel/base_models.py
  docling/models/page_preprocessing_model.py
  docling/models/table_structure_model.py
Due: black, isort, mypy

fix: reduce logging by keeping option for more verbose
  docling/cli/main.py
Due: black, isort, mypy

fix: reduce logging by keeping option for more verbose (#323)
  docling/cli/main.py
Due: black, isort, mypy

docs: add automatic generation of CLI reference
  docling/cli/main.py
  docs/cli.md
  docs/usage.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

added TableFormerMode.ACCURATE as default in cli
  docling/cli/main.py
Due: black, isort, mypy

feat: added excel backend
  docling/backend/msexcel_backend.py
Due: black, isort, mypy

chore: fix Qdrant notebook Colab link (#319)
  docs/examples/hybrid_rag_qdrant.ipynb
Due: nbqa_black, nbqa_isort

Populating extracted image data into docling picture for wordx backend
  docling/backend/msword_backend.py
Due: black, isort, mypy

Fixing images in the input Word files
  docling/backend/msword_backend.py
Due: black, isort, mypy

Updated tests
  tests/data/groundtruth/docling_v2/word_sample.docx.itxt
  tests/data/groundtruth/docling_v2/word_sample.docx.json
  tests/data/groundtruth/docling_v2/word_sample.docx.md
Due: none

removed base64 dependency in msword_backend
  docling/backend/msword_backend.py
Due: black, isort, mypy

fix: Fixing images in the input Word files (#330)
  docling/backend/msword_backend.py
  tests/data/groundtruth/docling_v2/word_sample.docx.itxt
  tests/data/groundtruth/docling_v2/word_sample.docx.json
  tests/data/groundtruth/docling_v2/word_sample.docx.md
Due: black, isort, mypy

ci(Mergify): configuration update
  .mergify.yml
Due: none

docs: add architecture outline
  docs/assets/docling_arch.png
  docs/assets/docling_arch.pptx
  docs/concepts/architecture.md
  docs/concepts/index.md
  docs/examples/index.md
  docs/integrations/index.md
  mkdocs.yml
Due: none

remove conventionalcommits from the checklist
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

install deps for building CLI ref
  .github/workflows/docs.yml
  mkdocs.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbqa_black: any of: \.ipynb$
  nbqa_isort: any of: \.ipynb$
