Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

black:
  name: Black
  entry: poetry run black docling docs/examples tests
  pass_filenames: false
  language: system

isort:
  name: isort
  entry: poetry run isort docling docs/examples tests
  pass_filenames: false
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy docling
  pass_filenames: false
  language: system

nbqa_black:
  name: nbQA Black
  entry: poetry run nbqa black docs/examples
  pass_filenames: false
  language: system

nbqa_isort:
  name: nbQA isort
  entry: poetry run nbqa isort docs/examples
  pass_filenames: false
  language: system

fix(cli): expose debug options (#467)
  docling/cli/main.py
Due: black, isort, mypy

docs: introduce faq section
  docs/faq.md
  mkdocs.yml
Due: none

fix: ParserError EOF inside string (#470)
  docling/models/tesseract_ocr_cli_model.py
Due: black, isort, mypy

feat: Add PPTX notes slides
  docling/backend/mspowerpoint_backend.py
  tests/data/groundtruth/docling_v2/powerpoint_sample.pptx.itxt
  tests/data/groundtruth/docling_v2/powerpoint_sample.pptx.json
  tests/data/groundtruth/docling_v2/powerpoint_sample.pptx.md
  tests/data/pptx/powerpoint_sample.pptx
Due: black, isort, mypy

docs: introduce faq section (#468)
  docs/faq.md
  mkdocs.yml
Due: none

docs: add automatic api reference
  docling/datamodel/pipeline_options.py
  docs/api_reference/docling_document.md
  docs/api_reference/document_converter.md
  docs/api_reference/pipeline_options.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

fix: PermissionError when using tesseract_ocr_cli_model
  docling/models/tesseract_ocr_cli_model.py
Due: black, isort, mypy

linter fix - import order
  docling/models/tesseract_ocr_cli_model.py
Due: black, isort, mypy

fix: tesseract_ocr_cli csv parsing fails when text contains single quotes
  docling/models/tesseract_ocr_cli_model.py
Due: black, isort, mypy

Typo faq.md
  docs/faq.md
Due: none

docs: add automatic api reference (#475)
  docling/datamodel/pipeline_options.py
  docs/api_reference/docling_document.md
  docs/api_reference/document_converter.md
  docs/api_reference/pipeline_options.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

docs: typo in faq (#484)
  docs/faq.md
Due: none

rename new status, populate ConversionResult errors
  docling/datamodel/base_models.py
  docling/document_converter.py
  tests/test_invalid_input.py
Due: black, isort, mypy

chore: reuse DocumentStream from docling-core
  docling/datamodel/base_models.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

update docling-core version
  poetry.lock
  pyproject.toml
Due: none

[skip ci] document import line
  docling/datamodel/base_models.py
Due: black, isort, mypy

Upgraded Layout Postprocessing, sending old code back to ERZ
  docling/datamodel/base_models.py
  docling/datamodel/settings.py
  docling/models/layout_model.py
  docling/utils/layout_postprocessor.py
  docling/utils/layout_utils.py
  docs/examples/custom_convert.py
Due: black, isort, mypy

use new resolve_source_to_x functions
  docling/cli/main.py
  docling/datamodel/document.py
Due: black, isort, mypy

Fix bug: Excel Backend
  docling/backend/msexcel_backend.py
Due: black, isort, mypy

chore: removed discriminator
  docling/datamodel/pipeline_options.py
Due: black, isort, mypy

chore: base ocr options, was missing rapid ocr
  docling/datamodel/pipeline_options.py
Due: black, isort, mypy

fix: use new resolve_source_to_x functions to avoid tempfile leftovers (#490)
  docling/cli/main.py
  docling/datamodel/document.py
Due: black, isort, mypy

Update advanced_chunking_with_merging.ipynb
  docs/examples/advanced_chunking_with_merging.ipynb
Due: nbqa_black, nbqa_isort

chore: update numpy lock
  poetry.lock
  pyproject.toml
Due: none

fix: PermissionError when using tesseract_ocr_cli_model (#496)
  docling/models/tesseract_ocr_cli_model.py
Due: black, isort, mypy

Implement hierachical cluster layout processing
  docling/models/layout_model.py
  docling/utils/layout_postprocessor.py
Due: black, isort, mypy

docs: add styling to faq
  docs/faq.md
Due: none

perf: prevent temp file leftovers, reuse core type (#487)
  docling/cli/main.py
  docling/datamodel/base_models.py
  docling/datamodel/document.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

remove torchaudio
  docs/faq.md
Due: none

docs: add styling for faq (#502)
  docs/faq.md
Due: none

fix: ParserError EOF inside string (#470) (#472)
  docling/models/tesseract_ocr_cli_model.py
Due: black, isort, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbqa_black: any of: \.ipynb$
  nbqa_isort: any of: \.ipynb$
