Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

black:
  name: Black
  entry: poetry run black docling docs/examples tests
  pass_filenames: false
  language: system

isort:
  name: isort
  entry: poetry run isort docling docs/examples tests
  pass_filenames: false
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy docling
  pass_filenames: false
  language: system

nbqa_black:
  name: nbQA Black
  entry: poetry run nbqa black docs/examples
  pass_filenames: false
  language: system

nbqa_isort:
  name: nbQA isort
  entry: poetry run nbqa isort docs/examples
  pass_filenames: false
  language: system

feat(xml-jats): parse XML JATS documents (#967)
  docling/backend/xml/jats_backend.py
  docling/backend/xml/pubmed_backend.py
  docling/datamodel/base_models.py
  docling/datamodel/document.py
  docling/document_converter.py
  docs/examples/backend_xml_rag.ipynb
  docs/supported_formats.md
  tests/data/groundtruth/docling_v2/bmj_sample.xml.itxt
  tests/data/groundtruth/docling_v2/bmj_sample.xml.json
  tests/data/groundtruth/docling_v2/bmj_sample.xml.md
  tests/data/groundtruth/docling_v2/elife-56337.xml.itxt
  tests/data/groundtruth/docling_v2/elife-56337.xml.json
  tests/data/groundtruth/docling_v2/elife-56337.xml.md
  tests/data/groundtruth/docling_v2/pnas_sample.xml.itxt
  tests/data/groundtruth/docling_v2/pnas_sample.xml.json
  tests/data/groundtruth/docling_v2/pnas_sample.xml.md
  tests/data/groundtruth/docling_v2/pntd.0008301.xml.itxt
  tests/data/groundtruth/docling_v2/pntd.0008301.xml.json
  tests/data/groundtruth/docling_v2/pntd.0008301.xml.md
  tests/data/groundtruth/docling_v2/pone.0234687.xml.itxt
  tests/data/groundtruth/docling_v2/pone.0234687.xml.json
  tests/data/groundtruth/docling_v2/pone.0234687.xml.md
  tests/data/jats/bmj_sample.xml
  tests/data/jats/elife-56337.nxml
  tests/data/jats/elife-56337.txt
  tests/data/jats/elife-56337.xml
  tests/data/jats/pnas_sample.xml
  tests/data/jats/pntd.0008301.nxml
  tests/data/jats/pntd.0008301.txt
  tests/data/jats/pntd.0008301.xml
  tests/data/jats/pone.0234687.nxml
  tests/data/jats/pone.0234687.txt
  tests/data/jats/pone.0234687.xml
  tests/test_backend_jats.py
  tests/test_input_doc.py
Due: black, isort, mypy, nbqa_black, nbqa_isort

feat: Support cuda:n GPU device allocation (#694)
  docling/datamodel/pipeline_options.py
  docling/utils/accelerator_utils.py
  docs/examples/run_with_accelerator.py
Due: black, isort, mypy

Update test cases for office formats
  poetry.lock
  tests/data/groundtruth/docling_v2/powerpoint_with_image.pptx.json
  tests/data/groundtruth/docling_v2/test-01.xlsx.json
  tests/data/groundtruth/docling_v2/test_emf_docx.docx.json
  tests/data/groundtruth/docling_v2/word_sample.docx.json
Due: none

Update deps and lockfile
  poetry.lock
  pyproject.toml
Due: none

Clean up imports
  docling/models/code_formula_model.py
Due: black, isort, mypy

fix: Revise DocTags, fix iterate_items to output content_layer in items (#965)
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v1/2203.01017v2.json
  tests/data/groundtruth/docling_v1/2206.01062.json
  tests/data/groundtruth/docling_v1/2305.03393v1.json
  tests/data/groundtruth/docling_v1/code_and_formula.json
  tests/data/groundtruth/docling_v1/picture_classification.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.json
  tests/data/groundtruth/docling_v1/right_to_left_01.pages.json
  tests/data/groundtruth/docling_v1/right_to_left_02.pages.json
  tests/data/groundtruth/docling_v1/right_to_left_03.json
  tests/data/groundtruth/docling_v1/right_to_left_03.pages.json
  tests/data/groundtruth/docling_v2/2203.01017v2.doctags.txt
  tests/data/groundtruth/docling_v2/2206.01062.doctags.txt
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.doctags.txt
  tests/data/groundtruth/docling_v2/2305.03393v1.doctags.txt
  tests/data/groundtruth/docling_v2/amt_handbook_sample.doctags.txt
  tests/data/groundtruth/docling_v2/code_and_formula.doctags.txt
  tests/data/groundtruth/docling_v2/code_and_formula.json
  tests/data/groundtruth/docling_v2/picture_classification.doctags.txt
  tests/data/groundtruth/docling_v2/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v2/redp5110_sampled.json
  tests/data/groundtruth/docling_v2/right_to_left_01.doctags.txt
  tests/data/groundtruth/docling_v2/right_to_left_01.json
  tests/data/groundtruth/docling_v2/right_to_left_01.pages.json
  tests/data/groundtruth/docling_v2/right_to_left_02.doctags.txt
  tests/data/groundtruth/docling_v2/right_to_left_02.json
  tests/data/groundtruth/docling_v2/right_to_left_02.pages.json
  tests/data/groundtruth/docling_v2/right_to_left_03.doctags.txt
  tests/data/groundtruth/docling_v2/right_to_left_03.json
  tests/data/groundtruth/docling_v2/right_to_left_03.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.pages.json
Due: none

refactor: upgrade BeautifulSoup4 with type hints
  docling/backend/html_backend.py
  docling/backend/xml/jats_backend.py
  docling/backend/xml/uspto_backend.py
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v2/wiki_duck.html.itxt
  tests/data/groundtruth/docling_v2/wiki_duck.html.json
  tests/data/groundtruth/docling_v2/wiki_duck.html.md
Due: black, isort, mypy

build: allow beautifulsoup4 version 4.12.3
  docling/backend/html_backend.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

fix: Disable the TOKENIZERS_PARALLELISM in test_e2e_ocr_conversion.py to avoid warning messages from HF
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

refactor: upgrade BeautifulSoup4 with type hints (#999)
  docling/backend/html_backend.py
  docling/backend/xml/jats_backend.py
  docling/backend/xml/uspto_backend.py
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v2/wiki_duck.html.itxt
  tests/data/groundtruth/docling_v2/wiki_duck.html.json
  tests/data/groundtruth/docling_v2/wiki_duck.html.md
Due: black, isort, mypy

add factory for ocr engines
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/models/base_model.py
  docling/models/base_ocr_model.py
  docling/models/easyocr_model.py
  docling/models/factories/__init__.py
  docling/models/factories/base_factory.py
  docling/models/factories/ocr_factory.py
  docling/models/ocr_mac_model.py
  docling/models/plugins/__init__.py
  docling/models/plugins/ocr_engines.py
  docling/models/rapid_ocr_model.py
  docling/models/tesseract_ocr_cli_model.py
  docling/models/tesseract_ocr_model.py
  docling/pipeline/standard_pdf_pipeline.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

apply pre-commit after rebase
  docling/datamodel/pipeline_options.py
Due: black, isort, mypy

docs: revamp picture description example
  docs/examples/pictures_description.ipynb
  docs/examples/pictures_description.py
Due: black, isort, mypy, nbqa_black, nbqa_isort

fix colab install, use granite and improve viz of description
  docs/examples/pictures_description.ipynb
Due: nbqa_black, nbqa_isort

switch docs to notbook
  mkdocs.yml
Due: none

show results with all models
  docs/examples/pictures_description.ipynb
Due: nbqa_black, nbqa_isort

show other vlm
  docs/examples/pictures_description.ipynb
Due: nbqa_black, nbqa_isort

Improvements for visualization example (#1017)
  docs/examples/pictures_description.ipynb
  mkdocs.yml
Due: nbqa_black, nbqa_isort

docs: revamp picture description example (#1015)
  docs/examples/pictures_description.ipynb
  docs/examples/pictures_description.py
  mkdocs.yml
Due: black, isort, mypy, nbqa_black, nbqa_isort

Update tests and lockfile
  poetry.lock
  tests/data/groundtruth/docling_v2/csv-comma-in-cell.csv.json
  tests/data/groundtruth/docling_v2/csv-comma.csv.json
  tests/data/groundtruth/docling_v2/csv-inconsistent-header.csv.json
  tests/data/groundtruth/docling_v2/csv-pipe.csv.json
  tests/data/groundtruth/docling_v2/csv-semicolon.csv.json
  tests/data/groundtruth/docling_v2/csv-tab.csv.json
  tests/data/groundtruth/docling_v2/csv-too-few-columns.csv.json
  tests/data/groundtruth/docling_v2/csv-too-many-columns.csv.json
  tests/data/groundtruth/docling_v2/example_01.html.json
  tests/data/groundtruth/docling_v2/example_02.html.json
  tests/data/groundtruth/docling_v2/example_03.html.json
  tests/data/groundtruth/docling_v2/example_04.html.json
  tests/data/groundtruth/docling_v2/example_05.html.json
  tests/data/groundtruth/docling_v2/ipa20180000016.json
  tests/data/groundtruth/docling_v2/ipa20200022300.json
  tests/data/groundtruth/docling_v2/pa20010031492.json
  tests/data/groundtruth/docling_v2/pftaps057006474.json
  tests/data/groundtruth/docling_v2/pg06442728.json
  tests/data/groundtruth/docling_v2/unit_test_01.html.json
  tests/data/groundtruth/docling_v2/wiki_duck.html.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.pages.json
Due: none

chore: Update tests and lockfile (#1021)
  poetry.lock
  tests/data/groundtruth/docling_v2/csv-comma-in-cell.csv.json
  tests/data/groundtruth/docling_v2/csv-comma.csv.json
  tests/data/groundtruth/docling_v2/csv-inconsistent-header.csv.json
  tests/data/groundtruth/docling_v2/csv-pipe.csv.json
  tests/data/groundtruth/docling_v2/csv-semicolon.csv.json
  tests/data/groundtruth/docling_v2/csv-tab.csv.json
  tests/data/groundtruth/docling_v2/csv-too-few-columns.csv.json
  tests/data/groundtruth/docling_v2/csv-too-many-columns.csv.json
  tests/data/groundtruth/docling_v2/example_01.html.json
  tests/data/groundtruth/docling_v2/example_02.html.json
  tests/data/groundtruth/docling_v2/example_03.html.json
  tests/data/groundtruth/docling_v2/example_04.html.json
  tests/data/groundtruth/docling_v2/example_05.html.json
  tests/data/groundtruth/docling_v2/ipa20180000016.json
  tests/data/groundtruth/docling_v2/ipa20200022300.json
  tests/data/groundtruth/docling_v2/pa20010031492.json
  tests/data/groundtruth/docling_v2/pftaps057006474.json
  tests/data/groundtruth/docling_v2/pg06442728.json
  tests/data/groundtruth/docling_v2/unit_test_01.html.json
  tests/data/groundtruth/docling_v2/wiki_duck.html.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.pages.json
Due: none

Add normalization, update tests again
  docling/models/page_assemble_model.py
  docling/models/readingorder_model.py
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.json
Due: black, isort, mypy

Update tests with code
  poetry.lock
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v1/code_and_formula.doctags.txt
  tests/data/groundtruth/docling_v1/code_and_formula.json
  tests/data/groundtruth/docling_v1/code_and_formula.md
  tests/data/groundtruth/docling_v1/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v1/redp5110_sampled.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.md
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v2/code_and_formula.doctags.txt
  tests/data/groundtruth/docling_v2/code_and_formula.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v2/redp5110_sampled.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.md
Due: none

fix: Runtime error when Pandas Series is not always of string type
  docling/models/tesseract_ocr_cli_model.py
Due: black, isort, mypy

Push final lockfile
  docling/models/readingorder_model.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

test: avoid testing exact JSON
  docling/backend/html_backend.py
  tests/test_backend_html.py
  tests/test_backend_jats.py
  tests/test_backend_msexcel.py
  tests/test_backend_msword.py
  tests/test_backend_patent_uspto.py
  tests/test_backend_pptx.py
  tests/verify_utils.py
Due: black, isort, mypy

Update tests/test_backend_patent_uspto.py
  tests/test_backend_patent_uspto.py
Due: black, isort, mypy

Fix content_layer assignment
  docling/models/readingorder_model.py
  tests/data/groundtruth/docling_v1/2203.01017v2.json
  tests/data/groundtruth/docling_v1/2206.01062.json
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v1/2305.03393v1.json
  tests/data/groundtruth/docling_v1/amt_handbook_sample.json
  tests/data/groundtruth/docling_v1/code_and_formula.json
  tests/data/groundtruth/docling_v1/picture_classification.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.json
  tests/data/groundtruth/docling_v1/right_to_left_03.json
  tests/data/groundtruth/docling_v2/2203.01017v2.json
  tests/data/groundtruth/docling_v2/2203.01017v2.md
  tests/data/groundtruth/docling_v2/2206.01062.json
  tests/data/groundtruth/docling_v2/2206.01062.md
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.md
  tests/data/groundtruth/docling_v2/2305.03393v1.json
  tests/data/groundtruth/docling_v2/2305.03393v1.md
  tests/data/groundtruth/docling_v2/amt_handbook_sample.json
  tests/data/groundtruth/docling_v2/amt_handbook_sample.md
  tests/data/groundtruth/docling_v2/code_and_formula.json
  tests/data/groundtruth/docling_v2/code_and_formula.md
  tests/data/groundtruth/docling_v2/picture_classification.json
  tests/data/groundtruth/docling_v2/picture_classification.md
  tests/data/groundtruth/docling_v2/redp5110_sampled.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.md
  tests/data/groundtruth/docling_v2/right_to_left_03.json
  tests/data/groundtruth/docling_v2/right_to_left_03.md
Due: black, isort, mypy

fix: Runtime error when Pandas Series is not always of string type (#1024)
  docling/models/tesseract_ocr_cli_model.py
Due: black, isort, mypy

test: avoid testing exact JSON (#1027)
  docling/backend/html_backend.py
  tests/test_backend_html.py
  tests/test_backend_jats.py
  tests/test_backend_msexcel.py
  tests/test_backend_msword.py
  tests/test_backend_patent_uspto.py
  tests/test_backend_pptx.py
  tests/verify_utils.py
Due: black, isort, mypy

chore: Delete empty file docling/models/ds_glm_model.py
  docling/models/ds_glm_model.py
Due: black, isort, mypy

feat: updated verify_export Moved verify_export to verify_utils Reuse verify_export in tests
  tests/test_backend_csv.py
  tests/test_backend_html.py
  tests/test_backend_jats.py
  tests/test_backend_msexcel.py
  tests/test_backend_msword.py
  tests/test_backend_pptx.py
  tests/verify_utils.py
Due: black, isort, mypy

feat: replace verify_export with verify_document in CSV conversion tests
  tests/test_backend_csv.py
Due: black, isort, mypy

fix: Improve markdown list parser
  docling/backend/md_backend.py
  tests/data/groundtruth/docling_v2/blocks.md.md
  tests/data/groundtruth/docling_v2/lists.md.md
  tests/data/md/lists.md
Due: black, isort, mypy

added the contentlayer to html-backend
  docling/backend/html_backend.py
Due: black, isort, mypy

feat(html): Parse text in div elements as TextItem
  docling/backend/html_backend.py
  tests/data/groundtruth/docling_v2/example_06.html.itxt
  tests/data/groundtruth/docling_v2/example_06.html.json
  tests/data/groundtruth/docling_v2/example_06.html.md
  tests/data/groundtruth/docling_v2/wiki_duck.html.itxt
  tests/data/groundtruth/docling_v2/wiki_duck.html.json
  tests/data/groundtruth/docling_v2/wiki_duck.html.md
  tests/data/html/example_06.html
Due: black, isort, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbqa_black: any of: \.ipynb$
  nbqa_isort: any of: \.ipynb$
