Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: poetry run black docling docs/examples tests
        pass_filenames: false
        language: system
        files: '\.py$'
      - id: isort
        name: isort
        entry: poetry run isort docling docs/examples tests
        pass_filenames: false
        language: system
        files: '\.py$'
#      - id: flake8
#        name: flake8
#        entry: poetry run flake8 docling
#        pass_filenames: false
#        language: system
#        files: '\.py$'
      - id: mypy
        name: MyPy
        entry: poetry run mypy docling
        pass_filenames: false
        language: system
        files: '\.py$'
      - id: nbqa_black
        name: nbQA Black
        entry: poetry run nbqa black docs/examples
        pass_filenames: false
        language: system
        files: '\.ipynb$'
      - id: nbqa_isort
        name: nbQA isort
        entry: poetry run nbqa isort docs/examples
        pass_filenames: false
        language: system
        files: '\.ipynb$'
      - id: poetry
        name: Poetry check
        entry: poetry check --lock
        pass_filenames: false
        language: system

Futher layout tuning
  docling/models/layout_model.py
  docling/utils/layout_postprocessor.py
  tests/data/groundtruth/docling_v1/2203.01017v2.doctags.txt
  tests/data/groundtruth/docling_v1/2203.01017v2.json
  tests/data/groundtruth/docling_v1/2203.01017v2.md
  tests/data/groundtruth/docling_v1/2203.01017v2.pages.json
  tests/data/groundtruth/docling_v1/2206.01062.doctags.txt
  tests/data/groundtruth/docling_v1/2206.01062.json
  tests/data/groundtruth/docling_v1/2206.01062.md
  tests/data/groundtruth/docling_v1/2206.01062.pages.json
  tests/data/groundtruth/docling_v1/2305.03393v1.doctags.txt
  tests/data/groundtruth/docling_v1/2305.03393v1.json
  tests/data/groundtruth/docling_v1/2305.03393v1.md
  tests/data/groundtruth/docling_v1/2305.03393v1.pages.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v1/redp5110_sampled.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.md
  tests/data/groundtruth/docling_v1/redp5110_sampled.pages.json
  tests/data/groundtruth/docling_v2/2203.01017v2.doctags.txt
  tests/data/groundtruth/docling_v2/2203.01017v2.json
  tests/data/groundtruth/docling_v2/2203.01017v2.md
  tests/data/groundtruth/docling_v2/2203.01017v2.pages.json
  tests/data/groundtruth/docling_v2/2206.01062.doctags.txt
  tests/data/groundtruth/docling_v2/2206.01062.json
  tests/data/groundtruth/docling_v2/2206.01062.md
  tests/data/groundtruth/docling_v2/2206.01062.pages.json
  tests/data/groundtruth/docling_v2/2305.03393v1.doctags.txt
  tests/data/groundtruth/docling_v2/2305.03393v1.json
  tests/data/groundtruth/docling_v2/2305.03393v1.md
  tests/data/groundtruth/docling_v2/2305.03393v1.pages.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v2/redp5110_sampled.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.md
  tests/data/groundtruth/docling_v2/redp5110_sampled.pages.json
  tests/test_e2e_conversion.py
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

Call into docling-core for legacy document transform
  docling/datamodel/document.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

chore: Add timeout limit to document parsing job. DS4SD#270 Signed-off-by: Abhishek Kumar <abhishekrocketeer@gmail.com>
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/pipeline/base_pipeline.py
Due: black, isort, mypy

fix: Call into docling-core for legacy document transform (#551)
  docling/datamodel/document.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

fix: make enum serializable with human-readable value
  docling/cli/main.py
  docling/datamodel/base_models.py
  docling/datamodel/pipeline_options.py
Due: black, isort, mypy

fix: make enum serializable with human-readable value (#555)
  docling/cli/main.py
  docling/datamodel/base_models.py
  docling/datamodel/pipeline_options.py
Due: black, isort, mypy

feat: Create XML backend for PubMed documents and resolve conflicts
  docling/backend/html_backend.py
  docling/backend/pubmed_backend.py
  docling/datamodel/base_models.py
  docling/datamodel/document.py
  docling/document_converter.py
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v2/elife-56337.nxml.itxt
  tests/data/groundtruth/docling_v2/elife-56337.nxml.json
  tests/data/groundtruth/docling_v2/elife-56337.nxml.md
  tests/data/groundtruth/docling_v2/pntd.0008301.nxml.itxt
  tests/data/groundtruth/docling_v2/pntd.0008301.nxml.json
  tests/data/groundtruth/docling_v2/pntd.0008301.nxml.md
  tests/data/groundtruth/docling_v2/pone.0234687.nxml.itxt
  tests/data/groundtruth/docling_v2/pone.0234687.nxml.json
  tests/data/groundtruth/docling_v2/pone.0234687.nxml.md
  tests/data/pubmed/elife-56337.nxml
  tests/data/pubmed/pntd.0008301.nxml
  tests/data/pubmed/pone.0234687.nxml
  tests/test_backend_html.py
  tests/test_backend_pubmed.py
Due: black, isort, mypy

fix: remove unused deps (#466)
  poetry.lock
  pyproject.toml
Due: none

docs: introduce faq section (#468)
  docs/faq.md
  mkdocs.yml
Due: none

fix(cli): expose debug options (#467)
  docling/cli/main.py
Due: black, isort, mypy

docs: add automatic api reference (#475)
  docling/datamodel/pipeline_options.py
  docs/api_reference/docling_document.md
  docs/api_reference/document_converter.md
  docs/api_reference/pipeline_options.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

fix: PermissionError when using tesseract_ocr_cli_model (#496)
  docling/models/tesseract_ocr_cli_model.py
Due: black, isort, mypy

docs: typo in faq (#484)
  docs/faq.md
Due: none

perf: prevent temp file leftovers, reuse core type (#487)
  docling/cli/main.py
  docling/datamodel/base_models.py
  docling/datamodel/document.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

docs: add styling for faq (#502)
  docs/faq.md
Due: none

fix: ParserError EOF inside string (#470) (#472)
  docling/models/tesseract_ocr_cli_model.py
Due: black, isort, mypy

chore: update numpy lock (#500)
  poetry.lock
  pyproject.toml
Due: none

fix: improve handling of disallowed formats (#429)
  docling/datamodel/base_models.py
  docling/datamodel/document.py
  docling/document_converter.py
  docling/exceptions.py
  tests/test_interfaces.py
  tests/test_invalid_input.py
Due: black, isort, mypy

fix: folder input in cli (#511)
  docling/cli/main.py
Due: black, isort, mypy

fix: restore pydantic version pin after fixes (#512)
  poetry.lock
  pyproject.toml
Due: none

fix: Missing text in docx (t tag) when embedded in a table (#528)
  docling/backend/msword_backend.py
Due: black, isort, mypy

fix: Enable HTML export in CLI and add options for image mode (#513)
  README.md
  docling/cli/main.py
  docling/datamodel/base_models.py
  docs/index.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

feat(MS Word backend): Make detection of headers and other styles localization agnostic (#534)
  docling/backend/msword_backend.py
Due: black, isort, mypy

fix: Introduce Image format options in CLI. Silence the tqdm downloading messages. (#544)
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/pipeline/standard_pdf_pipeline.py
Due: black, isort, mypy

feat: expose new hybrid chunker, update docs (#384)
  docling/chunking/__init__.py
  docs/assets/docling_arch.png
  docs/assets/docling_arch.pptx
  docs/concepts/chunking.md
  docs/examples/hybrid_chunking.ipynb
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/data/md/wiki.md
Due: black, isort, mypy, nbqa_black, nbqa_isort

fix: Correcting DefaultText ID for MS Word backend (#537)
  docling/backend/msword_backend.py
Due: black, isort, mypy

docs: document new integrations (#532)
  docs/integrations/bee.md
  docs/integrations/cloudera.md
  docs/integrations/data_prep_kit.md
  docs/integrations/docetl.md
  docs/integrations/instructlab.md
  docs/integrations/kotaemon.md
  docs/integrations/llamaindex.md
  docs/integrations/prodigy.md
  docs/integrations/rhel_ai.md
  docs/integrations/spacy.md
  docs/integrations/txtai.md
  mkdocs.yml
Due: none

ci: allow ! in conventionalcommits (#533)
  .github/mergify.yml
Due: none

fix: Add `py.typed` marker file (#531)
  docling/py.typed
Due: none

feat: docling-parse v2 as default PDF backend (#549)
  docling/backend/docling_parse_backend.py
  docling/backend/docling_parse_v2_backend.py
  docling/cli/main.py
  docling/document_converter.py
  docling/models/ds_glm_model.py
  docling/utils/glm_utils.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

update CLI page pointer
  docs/reference/index.md
  docs/usage.md
  mkdocs.yml
Due: none

feat: Create a backend to transform PubMed XML files to DoclingDocument
  docling/backend/pubmed_backend.py
  docling/datamodel/base_models.py
  docling/datamodel/document.py
  docling/document_converter.py
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v2/elife-56337.nxml.itxt
  tests/data/groundtruth/docling_v2/elife-56337.nxml.json
  tests/data/groundtruth/docling_v2/elife-56337.nxml.md
  tests/data/groundtruth/docling_v2/pntd.0008301.nxml.itxt
  tests/data/groundtruth/docling_v2/pntd.0008301.nxml.json
  tests/data/groundtruth/docling_v2/pntd.0008301.nxml.md
  tests/data/groundtruth/docling_v2/pone.0234687.nxml.itxt
  tests/data/groundtruth/docling_v2/pone.0234687.nxml.json
  tests/data/groundtruth/docling_v2/pone.0234687.nxml.md
  tests/data/pubmed/elife-56337.nxml
  tests/data/pubmed/pntd.0008301.nxml
  tests/data/pubmed/pone.0234687.nxml
  tests/test_backend_pubmed.py
Due: black, isort, mypy

fix: Do proper check to set the device in EasyOCR, RapidOCR.
  docling/models/easyocr_model.py
  docling/models/rapid_ocr_model.py
Due: black, isort, mypy

Fixes for layout processing and tableformer workaround
  docling/models/table_structure_model.py
  docling/utils/layout_postprocessor.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

docs: update chunking usage docs, minor reorg (#550)
  docs/concepts/architecture.md
  docs/reference/cli.md
  docs/reference/docling_document.md
  docs/reference/document_converter.md
  docs/reference/pipeline_options.md
  docs/usage.md
  mkdocs.yml
Due: none
