Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: poetry run black docling docs/examples tests
        pass_filenames: false
        language: system
        files: '\.py$'
      - id: isort
        name: isort
        entry: poetry run isort docling docs/examples tests
        pass_filenames: false
        language: system
        files: '\.py$'
#      - id: flake8
#        name: flake8
#        entry: poetry run flake8 docling
#        pass_filenames: false
#        language: system
#        files: '\.py$'
      - id: mypy
        name: MyPy
        entry: poetry run mypy docling
        pass_filenames: false
        language: system
        files: '\.py$'
      - id: nbqa_black
        name: nbQA Black
        entry: poetry run nbqa black docs/examples
        pass_filenames: false
        language: system
        files: '\.ipynb$'
      - id: nbqa_isort
        name: nbQA isort
        entry: poetry run nbqa isort docs/examples
        pass_filenames: false
        language: system
        files: '\.ipynb$'
      - id: poetry
        name: Poetry check
        entry: poetry check --lock
        pass_filenames: false
        language: system

replace new lines and double spaces in list-items with single spaces
  docling/backend/html_backend.py
Due: black, isort, mypy

reformatted the code
  docling/backend/html_backend.py
Due: black, isort, mypy

reformatted the code to pass the tests
  docs/examples/advanced_chunking_with_merging.ipynb
  docs/examples/rag_langchain.ipynb
Due: nbqa_black, nbqa_isort

docs: add artifacts-path param to CLI (#233)
  docs/usage.md
Due: none

docs: add coming-soon section (#235)
  README.md
  docs/index.md
Due: none

fix: Dockerfile example copy command (#234)
  Dockerfile
Due: none

docs: update badges & credits
  README.md
  docs/index.md
Due: none

docs: update badges & credits (#248)
  README.md
  docs/index.md
Due: none

chore: fix typo (#241)
  docling/backend/docling_parse_backend.py
  docling/backend/docling_parse_v2_backend.py
  docling/backend/pypdfium2_backend.py
Due: black, isort, mypy

chore: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: none

chore: add issue templates (#251)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: none

updated the html tests
  tests/data/groundtruth/docling_v2/real_example_01.html.itxt
  tests/data/groundtruth/docling_v2/real_example_01.html.json
  tests/data/groundtruth/docling_v2/real_example_01.html.md
  tests/data/groundtruth/docling_v2/wiki_duck.html.itxt
  tests/data/groundtruth/docling_v2/wiki_duck.html.json
  tests/data/groundtruth/docling_v2/wiki_duck.html.md
  tests/data/html/real_example_01.html
Due: none

updated the html tests (2)
  tests/data/html/real_example_01.html
Due: none

updated ground-truth
  tests/data/groundtruth/docling_v2/real_example_01.html.json
Due: none

draft for picture description models
  docling/datamodel/pipeline_options.py
  docling/models/pic_description_api_model.py
  docling/models/pic_description_base_model.py
  docling/models/pic_description_vllm_model.py
  docling/pipeline/standard_pdf_pipeline.py
Due: black, isort, mypy

fixed the tests
  docling/backend/html_backend.py
  docling/cli/main.py
  docling/datamodel/base_models.py
  tests/data/groundtruth/docling_v2/wiki_duck.html.itxt
  tests/data/groundtruth/docling_v2/wiki_duck.html.json
Due: black, isort, mypy

feat: add support for `ocrmac` OCR engine on macOS
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/models/ocr_mac_model.py
  docling/pipeline/standard_pdf_pipeline.py
  docs/installation.md
  pyproject.toml
Due: black, isort, mypy

reformatted the code
  docling/backend/html_backend.py
  docling/cli/main.py
Due: black, isort, mypy

updated the poetry lock
  poetry.lock
  pyproject.toml
Due: none

fix(tesserocr): Raise Exception if tesserocr has not loaded any languages
  docling/models/tesseract_ocr_model.py
Due: black, isort, mypy

Fix linting issues, update CLI docs, and add error for ocrmac use on non-Mac systems
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/models/ocr_mac_model.py
  docling/pipeline/standard_pdf_pipeline.py
  docs/usage.md
  pyproject.toml
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

fix(TesseractOcrModel): Use different error messages when tesserocr is not properly installed and when the TESSDATA_PREFIX envvar is not properly configured.
  docling/models/tesseract_ocr_model.py
Due: black, isort, mypy

another fix to the tests
  docling/backend/html_backend.py
  tests/data/groundtruth/docling_v2/wiki_duck.html.json
Due: black, isort, mypy

fix(tesserocr): Raise Exception if tesserocr has not loaded any languages (#279)
  docling/models/tesseract_ocr_model.py
Due: black, isort, mypy

fix(EasyOcrModel): Support the use_gpu pipeline parameter in EasyOcrModel. Initialize easyocr without GPU if MPS is available.
  docling/models/easyocr_model.py
Due: black, isort, mypy

fix(EasyOcrModel): Support the use_gpu pipeline parameter in EasyOcrModel. Initialize easyocr (#282)
  docling/models/easyocr_model.py
Due: black, isort, mypy

fix: allow mps usage for easyocr
  docling/models/easyocr_model.py
Due: black, isort, mypy

add example for cpu-only
  docs/examples/custom_convert.py
Due: black, isort, mypy

comment out example
  docs/examples/custom_convert.py
Due: black, isort, mypy

fix: allow mps usage for easyocr (#286)
  docling/models/easyocr_model.py
  docs/examples/custom_convert.py
Due: black, isort, mypy

feat(OCR): Introduce the OcrOptions.force_full_page_ocr parameter that forces a full page OCR scanning and uses the recognized OCR cells instead of any existing PDF cells. Update unit tests.
  docling/datamodel/pipeline_options.py
  docling/models/base_ocr_model.py
  docling/models/easyocr_model.py
  docling/models/tesseract_ocr_cli_model.py
  docling/models/tesseract_ocr_model.py
  tests/test_e2e_ocr_conversion.py
  tests/verify_utils.py
Due: black, isort, mypy

chore(examples): Add example how to force OCR
  docs/examples/full_page_ocr.py
Due: black, isort, mypy

Added handling of code blocks in html with <pre> tag
  docling/backend/html_backend.py
Due: black, isort, mypy

docs: add navigation indices
  docs/concepts/index.md
  docs/examples/index.md
  docs/integrations/index.md
  mkdocs.yml
Due: none

feat: Introduce the force-ocr cmd parameter in docling cli. Add the full_page_ocr.py example in mkdocs
  docling/cli/main.py
  docs/examples/full_page_ocr.py
  mkdocs.yml
Due: black, isort, mypy

docs: add navigation indices (#305)
  docs/concepts/index.md
  docs/examples/index.md
  docs/integrations/index.md
  mkdocs.yml
Due: none

Added handling of grouped elements in pptx backend
  docling/backend/mspowerpoint_backend.py
Due: black, isort, mypy

Added handling of code blocks in html with <pre> tag (#302)
  docling/backend/html_backend.py
Due: black, isort, mypy

updated log.warn to warning
  docling/backend/mspowerpoint_backend.py
Due: black, isort, mypy
