Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

black:
  name: Black
  entry: poetry run black docling docs/examples tests
  pass_filenames: false
  language: system

isort:
  name: isort
  entry: poetry run isort docling docs/examples tests
  pass_filenames: false
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy docling
  pass_filenames: false
  language: system

nbqa_black:
  name: nbQA Black
  entry: poetry run nbqa black docs/examples
  pass_filenames: false
  language: system

nbqa_isort:
  name: nbQA isort
  entry: poetry run nbqa isort docs/examples
  pass_filenames: false
  language: system

docs: Add example and CSV format documentation
  docling/backend/csv_backend.py
  docs/examples/run_csv.py
  docs/supported_formats.md
Due: black, isort, mypy

feat: Implement csv backend and format detection
  docling/backend/csv_backend.py
  docling/datamodel/base_models.py
  docling/datamodel/document.py
  docling/document_converter.py
  docs/examples/run_with_formats.py
Due: black, isort, mypy

test: Implement csv parsing and format tests
  tests/data/csv/test-01.csv
  tests/data/groundtruth/docling_v2/test-01.csv.itxt
  tests/data/groundtruth/docling_v2/test-01.csv.json
  tests/data/groundtruth/docling_v2/test-01.csv.md
  tests/test_backend_csv.py
  tests/test_input_doc.py
Due: black, isort, mypy

fix: Measure the layout mAP without the orphan clusters.
  docling/utils/layout_postprocessor.py
Due: black, isort, mypy

feat: allow artifacts_path to be defined as ENV (#940)
  docling/datamodel/settings.py
  docling/pipeline/standard_pdf_pipeline.py
Due: black, isort, mypy

updated poetry to ref correct branch in docling-core
  poetry.lock
  pyproject.toml
Due: none

rename to enable_remote_services
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/models/picture_description_api_model.py
  docling/pipeline/standard_pdf_pipeline.py
  docs/examples/pictures_description_api.py
  docs/usage.md
Due: black, isort, mypy

Updates for reading-order implementation
  docling/models/readingorder_model.py
Due: black, isort, mypy

feat: Introduce the enable_remote_services option to allow remote connections while processing (#941)
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/exceptions.py
  docling/models/picture_description_api_model.py
  docling/pipeline/standard_pdf_pipeline.py
  docs/examples/pictures_description_api.py
  docs/usage.md
Due: black, isort, mypy

add more examples for picture descriptions
  docs/examples/pictures_description_api.py
  mkdocs.yml
Due: black, isort, mypy

updated poetry to ref correct branch in docling-core. Updated tests gt
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v1/2203.01017v2.json
  tests/data/groundtruth/docling_v1/2206.01062.json
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v1/2305.03393v1.json
  tests/data/groundtruth/docling_v1/code_and_formula.json
  tests/data/groundtruth/docling_v1/picture_classification.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.json
  tests/data/groundtruth/docling_v1/right_to_left_01.pages.json
  tests/data/groundtruth/docling_v1/right_to_left_02.pages.json
  tests/data/groundtruth/docling_v1/right_to_left_03.json
  tests/data/groundtruth/docling_v1/right_to_left_03.pages.json
  tests/data/groundtruth/docling_v2/2203.01017v2.doctags.txt
  tests/data/groundtruth/docling_v2/2206.01062.doctags.txt
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.doctags.txt
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v2/2305.03393v1.doctags.txt
  tests/data/groundtruth/docling_v2/amt_handbook_sample.doctags.txt
  tests/data/groundtruth/docling_v2/code_and_formula.doctags.txt
  tests/data/groundtruth/docling_v2/code_and_formula.json
  tests/data/groundtruth/docling_v2/picture_classification.doctags.txt
  tests/data/groundtruth/docling_v2/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v2/right_to_left_01.doctags.txt
  tests/data/groundtruth/docling_v2/right_to_left_01.json
  tests/data/groundtruth/docling_v2/right_to_left_01.pages.json
  tests/data/groundtruth/docling_v2/right_to_left_02.doctags.txt
  tests/data/groundtruth/docling_v2/right_to_left_02.json
  tests/data/groundtruth/docling_v2/right_to_left_02.pages.json
  tests/data/groundtruth/docling_v2/right_to_left_03.doctags.txt
  tests/data/groundtruth/docling_v2/right_to_left_03.json
  tests/data/groundtruth/docling_v2/right_to_left_03.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.pages.json
Due: none

fix merge typo
  docs/examples/pictures_description_api.py
Due: black, isort, mypy

feat: Add support for various CSV dialects and update documentation
  docling/backend/csv_backend.py
  docling/datamodel/document.py
  docling/document_converter.py
  docs/examples/backend_csv.ipynb
  docs/examples/run_csv.py
  mkdocs.yml
  tests/data/csv/csv-comma.csv
  tests/data/csv/csv-pipe.csv
  tests/data/csv/csv-semicolon.csv
  tests/data/csv/csv-tab.csv
  tests/data/groundtruth/docling_v2/csv-comma.csv.itxt
  tests/data/groundtruth/docling_v2/csv-comma.csv.json
  tests/data/groundtruth/docling_v2/csv-comma.csv.md
  tests/data/groundtruth/docling_v2/csv-pipe.csv.itxt
  tests/data/groundtruth/docling_v2/csv-pipe.csv.json
  tests/data/groundtruth/docling_v2/csv-pipe.csv.md
  tests/data/groundtruth/docling_v2/csv-semicolon.csv.itxt
  tests/data/groundtruth/docling_v2/csv-semicolon.csv.json
  tests/data/groundtruth/docling_v2/csv-semicolon.csv.md
  tests/data/groundtruth/docling_v2/csv-tab.csv.itxt
  tests/data/groundtruth/docling_v2/csv-tab.csv.json
  tests/data/groundtruth/docling_v2/csv-tab.csv.md
  tests/data/groundtruth/docling_v2/test-01.csv.itxt
  tests/test_backend_csv.py
Due: black, isort, mypy, nbqa_black, nbqa_isort

docs: Examples for picture descriptions (#951)
  docs/examples/pictures_description_api.py
  mkdocs.yml
Due: black, isort, mypy

update pillow and lock deps
  poetry.lock
  pyproject.toml
Due: none

update example Dockerfile with download CLI
  Dockerfile
Due: none

fix: update Pillow constraints (#958)
  poetry.lock
  pyproject.toml
Due: none

docs: update example Dockerfile with download CLI (#929)
  Dockerfile
Due: none

feat: Add validation for delimiters and tests for inconsistent csv files
  docling/backend/csv_backend.py
  tests/data/csv/csv-comma-in-cell.csv
  tests/data/csv/csv-inconsistent-header.csv
  tests/data/csv/csv-too-few-columns.csv
  tests/data/csv/csv-too-many-columns.csv
  tests/data/groundtruth/docling_v2/csv-comma-in-cell.csv.itxt
  tests/data/groundtruth/docling_v2/csv-comma-in-cell.csv.json
  tests/data/groundtruth/docling_v2/csv-comma-in-cell.csv.md
  tests/data/groundtruth/docling_v2/csv-inconsistent-header.csv.itxt
  tests/data/groundtruth/docling_v2/csv-inconsistent-header.csv.json
  tests/data/groundtruth/docling_v2/csv-inconsistent-header.csv.md
  tests/data/groundtruth/docling_v2/csv-too-few-columns.csv.itxt
  tests/data/groundtruth/docling_v2/csv-too-few-columns.csv.json
  tests/data/groundtruth/docling_v2/csv-too-few-columns.csv.md
  tests/data/groundtruth/docling_v2/csv-too-many-columns.csv.itxt
  tests/data/groundtruth/docling_v2/csv-too-many-columns.csv.json
  tests/data/groundtruth/docling_v2/csv-too-many-columns.csv.md
  tests/test_backend_csv.py
  tests/test_input_doc.py
Due: black, isort, mypy

chore: Restore the orphan clusters
  docling/utils/layout_postprocessor.py
Due: black, isort, mypy

chore(xml-jats): separate authors and affiliations
  docling/backend/xml/pubmed_backend.py
  tests/data/groundtruth/docling_v2/elife-56337.xml.itxt
  tests/data/groundtruth/docling_v2/elife-56337.xml.json
  tests/data/groundtruth/docling_v2/elife-56337.xml.md
  tests/data/groundtruth/docling_v2/pntd.0008301.xml.itxt
  tests/data/groundtruth/docling_v2/pntd.0008301.xml.json
  tests/data/groundtruth/docling_v2/pntd.0008301.xml.md
  tests/data/groundtruth/docling_v2/pone.0234687.xml.itxt
  tests/data/groundtruth/docling_v2/pone.0234687.xml.json
  tests/data/groundtruth/docling_v2/pone.0234687.xml.md
Due: black, isort, mypy

fix(xml-jats): replace new line character by a space
  docling/backend/xml/pubmed_backend.py
Due: black, isort, mypy

feat(xml-jats): improve existing parser and extend features
  docling/backend/xml/pubmed_backend.py
  docling/datamodel/document.py
  tests/data/groundtruth/docling_v2/bmj_sample.xml.itxt
  tests/data/groundtruth/docling_v2/bmj_sample.xml.json
  tests/data/groundtruth/docling_v2/bmj_sample.xml.md
  tests/data/groundtruth/docling_v2/elife-56337.xml.itxt
  tests/data/groundtruth/docling_v2/elife-56337.xml.json
  tests/data/groundtruth/docling_v2/elife-56337.xml.md
  tests/data/groundtruth/docling_v2/pnas_sample.xml.itxt
  tests/data/groundtruth/docling_v2/pnas_sample.xml.json
  tests/data/groundtruth/docling_v2/pnas_sample.xml.md
  tests/data/groundtruth/docling_v2/pntd.0008301.xml.itxt
  tests/data/groundtruth/docling_v2/pntd.0008301.xml.json
  tests/data/groundtruth/docling_v2/pntd.0008301.xml.md
  tests/data/groundtruth/docling_v2/pone.0234687.xml.itxt
  tests/data/groundtruth/docling_v2/pone.0234687.xml.json
  tests/data/groundtruth/docling_v2/pone.0234687.xml.md
  tests/data/pubmed/bmj_sample.xml
  tests/data/pubmed/pnas_sample.xml
Due: black, isort, mypy

Testing fix for docling-core dt
  poetry.lock
  pyproject.toml
Due: none

validate actual docitems in tests
  tests/test_backend_msexcel.py
  tests/test_backend_msword.py
  tests/test_backend_pptx.py
  tests/verify_utils.py
Due: black, isort, mypy

chore(xml-jats): rename PubMed objects to JATS
  docling/backend/xml/jats_backend.py
  docling/datamodel/base_models.py
  docling/datamodel/document.py
  docling/document_converter.py
  docs/examples/backend_xml_rag.ipynb
  docs/supported_formats.md
  tests/data/jats/bmj_sample.xml
  tests/data/jats/elife-56337.nxml
  tests/data/jats/elife-56337.txt
  tests/data/jats/elife-56337.xml
  tests/data/jats/pnas_sample.xml
  tests/data/jats/pntd.0008301.nxml
  tests/data/jats/pntd.0008301.txt
  tests/data/jats/pntd.0008301.xml
  tests/data/jats/pone.0234687.nxml
  tests/data/jats/pone.0234687.txt
  tests/data/jats/pone.0234687.xml
  tests/test_backend_jats.py
  tests/test_input_doc.py
Due: black, isort, mypy, nbqa_black, nbqa_isort

fix: Fix code-formula model for new docling-core
  docling/models/code_formula_model.py
Due: black, isort, mypy

remove verbose print
  tests/verify_utils.py
Due: black, isort, mypy

disable test generation
  tests/test_backend_csv.py
Due: black, isort, mypy

fix: Update fixes
  poetry.lock
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v1/code_and_formula.doctags.txt
  tests/data/groundtruth/docling_v1/code_and_formula.json
  tests/data/groundtruth/docling_v1/code_and_formula.md
  tests/data/groundtruth/docling_v1/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v1/redp5110_sampled.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.md
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v2/code_and_formula.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.json
Due: none

test: validate actual docitems in tests (#966)
  tests/test_backend_csv.py
  tests/test_backend_msexcel.py
  tests/test_backend_msword.py
  tests/test_backend_pptx.py
  tests/verify_utils.py
Due: black, isort, mypy

Adding multi-gpu support, and cuda device allocation
  docling/datamodel/pipeline_options.py
  docling/utils/accelerator_utils.py
  docs/examples/run_with_accelerator.py
Due: black, isort, mypy

Fixes pydantic exception with cuda:n Signed-off-by: ahn <ahn@zurich.ibm.com>
  docling/datamodel/pipeline_options.py
Due: black, isort, mypy

Pydantic field validator and comment restored.
  docling/datamodel/pipeline_options.py
  docling/models/easyocr_model.py
  docs/examples/run_with_accelerator.py
Due: black, isort, mypy

chore: Accept AcceleratorDevice enum type
  docling/datamodel/pipeline_options.py
Due: black, isort, mypy

Resetted some options to default, removed EasyOCR model wrap. Signed-off-by: ahn <ahn@zurich.ibm.com>
  docling/models/easyocr_model.py
  docs/examples/run_with_accelerator.py
Due: black, isort, mypy

Fixed rebased issues Signed-off-by: ahn <ahn@zurich.ibm.com>
  docling/datamodel/pipeline_options.py
  docling/models/easyocr_model.py
  docs/examples/run_with_accelerator.py
Due: black, isort, mypy

Revert accelerator test options Signed-off-by: ahn <ahn@zurich.ibm.com>
  docs/examples/run_with_accelerator.py
Due: black, isort, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbqa_black: any of: \.ipynb$
  nbqa_isort: any of: \.ipynb$
