Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

black:
  name: Black
  entry: poetry run black docling docs/examples tests
  pass_filenames: false
  language: system

isort:
  name: isort
  entry: poetry run isort docling docs/examples tests
  pass_filenames: false
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy docling
  pass_filenames: false
  language: system

nbqa_black:
  name: nbQA Black
  entry: poetry run nbqa black docs/examples
  pass_filenames: false
  language: system

nbqa_isort:
  name: nbQA isort
  entry: poetry run nbqa isort docs/examples
  pass_filenames: false
  language: system

pinned pillow in pyproject
  poetry.lock
  pyproject.toml
Due: none

docs: add notebook example with XML backends
  docs/examples/backend_xml_rag.ipynb
  mkdocs.yml
Due: nbqa_black, nbqa_isort

docs: add documentation on supported formats and backends
  docs/examples/backend_xml_rag.ipynb
  docs/usage.md
Due: nbqa_black, nbqa_isort

chore: remove type-ignore marks for attaching text to non GroupItems
  docling/backend/xml/uspto_backend.py
Due: black, isort, mypy

test: remove unnecessary imports
  tests/test_backend_msexcel.py
  tests/test_backend_patent_uspto.py
  tests/test_backend_pubmed.py
Due: black, isort, mypy

feat: add Docling JSON ingestion (#783)
  docling/backend/abstract_backend.py
  docling/backend/json/__init__.py
  docling/backend/json/docling_json_backend.py
  docling/datamodel/base_models.py
  docling/datamodel/document.py
  docling/document_converter.py
  tests/test_backend_docling_json.py
  tests/test_input_doc.py
Due: black, isort, mypy

feat: New document picture classifier (#805)
  docling/datamodel/pipeline_options.py
  docling/models/document_picture_classifier.py
  docling/pipeline/standard_pdf_pipeline.py
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v1/picture_classification.doctags.txt
  tests/data/groundtruth/docling_v1/picture_classification.json
  tests/data/groundtruth/docling_v1/picture_classification.md
  tests/data/groundtruth/docling_v1/picture_classification.pages.json
  tests/data/groundtruth/docling_v2/picture_classification.doctags.txt
  tests/data/groundtruth/docling_v2/picture_classification.json
  tests/data/groundtruth/docling_v2/picture_classification.md
  tests/data/groundtruth/docling_v2/picture_classification.pages.json
  tests/data/picture_classification.pdf
  tests/test_document_picture_classifier.py
Due: black, isort, mypy

fix: Refactor the TesseractOcrModel and TesseractOcrCliModel to validate if the auto-detected language is installed in the system and if not fall back to a default option without language.
  docling/models/tesseract_ocr_cli_model.py
  docling/models/tesseract_ocr_model.py
  docs/examples/tesseract_lang_detection.py
Due: black, isort, mypy

fix: added extraction of byte-images in excel (#804)
  docling/backend/msexcel_backend.py
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v2/test-01.xlsx.itxt
  tests/data/groundtruth/docling_v2/test-01.xlsx.json
  tests/data/groundtruth/docling_v2/test-01.xlsx.md
  tests/data/xlsx/test-01.xlsx
  tests/test_backend_msexcel.py
Due: black, isort, mypy

docs: added markdown headings to enable TOC in github pages
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

minor renames
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

part 3 heading
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

feat: Introduce automatic language detection in TesseractOcrCliModel (#800)
  docling/models/tesseract_ocr_cli_model.py
  docling/models/tesseract_ocr_model.py
  docling/utils/ocr_utils.py
  docs/examples/tesseract_lang_detection.py
  mkdocs.yml
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

docs: description of supported formats and backends (#788)
  docling/backend/xml/uspto_backend.py
  docs/examples/backend_xml_rag.ipynb
  docs/usage.md
  mkdocs.yml
  tests/test_backend_msexcel.py
  tests/test_backend_patent_uspto.py
  tests/test_backend_pubmed.py
Due: black, isort, mypy, nbqa_black, nbqa_isort

added the reading-order model
  docling/models/ds_ro_model.py
Due: black, isort, mypy

docs: added markdown headings to enable TOC in github pages (#808)
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

pre commit fixes, issue with pylatexenc
  docling/backend/docx_latex/omml.py
  docling/backend/msword_backend.py
Due: black, isort, mypy

Add pylatexenc to exceptions list
  docling/backend/docx_latex/omml.py
  pyproject.toml
Due: black, isort, mypy

Update rag_azuresearch.ipynb
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

typo
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

docs: typo (#814)
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

chore: update deps in lockfile
  poetry.lock
Due: none

style(rapidocr-options): fix alignment of `rec_keys_path` comment
  docling/datamodel/pipeline_options.py
Due: black, isort, mypy

update poetry lock
  poetry.lock
Due: none

chore: update deps in lockfile (#815)
  poetry.lock
Due: none

feat: add platform info to CLI version printout
  docling/cli/main.py
Due: black, isort, mypy

Update main.py
  docling/cli/main.py
Due: black, isort, mypy

feat(ocr): expose `rec_keys_path` in RapidOcrOptions to support custom dictionaries (#786)
  docling/datamodel/pipeline_options.py
  docling/models/rapid_ocr_model.py
Due: black, isort, mypy

docs(backend XML): do not delete temp file in notebook
  docs/examples/backend_xml_rag.ipynb
Due: nbqa_black, nbqa_isort

add Python implementation & language versions
  docling/cli/main.py
Due: black, isort, mypy

fix: parse HTML files without body tag
  docling/backend/html_backend.py
Due: black, isort, mypy

feat: add platform info to CLI version printout (#816)
  docling/cli/main.py
Due: black, isort, mypy

test: ensure docling converts HTML without body tag
  tests/data/groundtruth/docling_v2/example_05.html.itxt
  tests/data/groundtruth/docling_v2/example_05.html.json
  tests/data/groundtruth/docling_v2/example_05.html.md
  tests/data/html/example_05.html
  tests/test_backend_html.py
Due: black, isort, mypy

fix: parse html with omitted body tag (#818)
  docling/backend/html_backend.py
  tests/data/groundtruth/docling_v2/example_05.html.itxt
  tests/data/groundtruth/docling_v2/example_05.html.json
  tests/data/groundtruth/docling_v2/example_05.html.md
  tests/data/html/example_05.html
  tests/test_backend_html.py
Due: black, isort, mypy

docs: document Docling JSON parsing
  README.md
  docs/index.md
  docs/supported_formats.md
  docs/usage.md
  mkdocs.yml
Due: none

feat: expose code and formula models in the CLI
  docling/cli/main.py
Due: black, isort, mypy

docs(backend XML): do not delete temp file in notebook (#817)
  docs/examples/backend_xml_rag.ipynb
Due: nbqa_black, nbqa_isort

Add SSL verification error mitigation
  docs/faq.md
Due: none

feat(CLI): Expose code and formula models in the CLI (#820)
  docling/cli/main.py
Due: black, isort, mypy

docs: Add SSL verification error mitigation (#821)
  docs/faq.md
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbqa_black: any of: \.ipynb$
  nbqa_isort: any of: \.ipynb$
