Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: poetry run black docling docs/examples tests
        pass_filenames: false
        language: system
        files: '\.py$'
      - id: isort
        name: isort
        entry: poetry run isort docling docs/examples tests
        pass_filenames: false
        language: system
        files: '\.py$'
#      - id: flake8
#        name: flake8
#        entry: poetry run flake8 docling
#        pass_filenames: false
#        language: system
#        files: '\.py$'
      - id: mypy
        name: MyPy
        entry: poetry run mypy docling
        pass_filenames: false
        language: system
        files: '\.py$'
      - id: nbqa_black
        name: nbQA Black
        entry: poetry run nbqa black docs/examples
        pass_filenames: false
        language: system
        files: '\.ipynb$'
      - id: nbqa_isort
        name: nbQA isort
        entry: poetry run nbqa isort docs/examples
        pass_filenames: false
        language: system
        files: '\.ipynb$'
      - id: poetry
        name: Poetry check
        entry: poetry check --lock
        pass_filenames: false
        language: system

chore: rename org
  .github/SECURITY.md
  .github/workflows/ci-docs.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/concepts/docling_document.md
  docs/examples/backend_xml_rag.ipynb
  docs/examples/pictures_description.ipynb
  docs/examples/rag_haystack.ipynb
  docs/examples/rag_langchain.ipynb
  docs/examples/rag_llamaindex.ipynb
  docs/examples/rag_weaviate.ipynb
  docs/examples/retrieval_qdrant.ipynb
  docs/faq/index.md
  docs/index.md
  docs/integrations/haystack.md
  docs/integrations/langchain.md
  mkdocs.yml
  pyproject.toml
  tests/test_input_doc.py
Due: black, isort, mypy, nbqa_black, nbqa_isort

Update docs/faq/index.md
  docs/faq/index.md
Due: none

Actor: Updated main Readme and Actor Readme
  .actor/README.md
  README.md
Due: none

update github pages
  README.md
  docling/cli/models.py
  docling/models/ocr_mac_model.py
  docling/models/tesseract_ocr_model.py
  docs/examples/backend_xml_rag.ipynb
  docs/examples/hybrid_chunking.ipynb
  docs/examples/rag_azuresearch.ipynb
  docs/examples/rag_weaviate.ipynb
  mkdocs.yml
  tests/data/groundtruth/docling_v2/word_tables.docx.html
Due: black, isort, mypy, nbqa_black, nbqa_isort

revert test content
  tests/data/groundtruth/docling_v2/word_tables.docx.html
Due: none

docs: fix spelling of picture in usage
  docs/usage/enrichments.md
Due: none

chore: move to docling-project org (#1160)
  .github/SECURITY.md
  .github/workflows/ci-docs.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docling/cli/models.py
  docling/models/ocr_mac_model.py
  docling/models/tesseract_ocr_model.py
  docs/concepts/docling_document.md
  docs/examples/backend_xml_rag.ipynb
  docs/examples/hybrid_chunking.ipynb
  docs/examples/pictures_description.ipynb
  docs/examples/rag_azuresearch.ipynb
  docs/examples/rag_haystack.ipynb
  docs/examples/rag_langchain.ipynb
  docs/examples/rag_llamaindex.ipynb
  docs/examples/rag_weaviate.ipynb
  docs/examples/retrieval_qdrant.ipynb
  docs/faq/index.md
  docs/index.md
  docs/integrations/haystack.md
  docs/integrations/langchain.md
  mkdocs.yml
  pyproject.toml
  tests/test_input_doc.py
Due: black, isort, mypy, nbqa_black, nbqa_isort

Rename docling backend to v4
  docling/backend/docling_parse_v4_backend.py
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docs/examples/batch_convert.py
  tests/test_backend_docling_parse_v4.py
  tests/test_e2e_conversion.py
  tests/test_e2e_ocr_conversion.py
  tests/test_interfaces.py
  tests/test_options.py
Due: black, isort, mypy

Test all backends, fixes
  docling/backend/docling_parse_backend.py
  docling/backend/docling_parse_v4_backend.py
  docling/cli/main.py
  docling/document_converter.py
  tests/test_code_formula.py
  tests/test_document_picture_classifier.py
  tests/test_e2e_conversion.py
  tests/test_e2e_ocr_conversion.py
  tests/test_interfaces.py
  tests/test_options.py
Due: black, isort, mypy

Fixes for DPv4 backend init, better test coverage
  docling/backend/docling_parse_v4_backend.py
  tests/test_input_doc.py
  tests/test_legacy_format_transform.py
Due: black, isort, mypy

docs: fix spelling of picture in usage (#1165)
  docs/usage/enrichments.md
Due: none

formatted script
  docling/document_converter.py
Due: black, isort, mypy

removed unnecessary hasattr check
  docling/document_converter.py
Due: black, isort, mypy

fix(ocr): tesseract support mis-oriented documents
  docling/models/tesseract_ocr_cli_model.py
  docling/models/tesseract_ocr_model.py
  docling/utils/ocr_utils.py
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated.doctags.txt
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated.md
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated_180.doctags.txt
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated_180.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated_180.md
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated_180.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated_270.doctags.txt
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated_270.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated_270.md
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated_270.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated_90.doctags.txt
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated_90.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated_90.md
  tests/data_scanned/groundtruth/docling_v1/ocr_test_rotated_90.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated.md
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated_180.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated_180.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated_180.md
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated_180.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated_270.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated_270.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated_270.md
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated_270.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated_90.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated_90.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated_90.md
  tests/data_scanned/groundtruth/docling_v2/ocr_test_rotated_90.pages.json
  tests/data_scanned/ocr_test_rotated_180.pdf
  tests/data_scanned/ocr_test_rotated_270.pdf
  tests/data_scanned/ocr_test_rotated_90.pdf
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

test_input_doc use default backend
  tests/test_input_doc.py
Due: black, isort, mypy

disable GT generation on test_interfaces
  tests/test_interfaces.py
Due: black, isort, mypy

add allow_external_plugins option
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/models/factories/__init__.py
  docling/models/factories/base_factory.py
  docling/models/factories/ocr_factory.py
  docling/pipeline/standard_pdf_pipeline.py
Due: black, isort, mypy

feat(actor): Docling Actor on Apify infrastructure (#875)
  .actor/.dockerignore
  .actor/CHANGELOG.md
  .actor/Dockerfile
  .actor/README.md
  .actor/actor.json
  .actor/actor.sh
  .actor/dataset_schema.json
  .actor/input_schema.json
  README.md
Due: none

Updated VLM pipeline doctags to docling conversion, now properly supports lists
  docling/backend/doctag_backend.py
  docling/pipeline/vlm_pipeline.py
Due: black, isort, mypy

Draft implementation of Doctag backend
  docling/backend/doctag_backend.py
Due: black, isort, mypy

preparing to migrate to new doctags deserializer
  docling/pipeline/vlm_pipeline.py
Due: black, isort, mypy

re-using DocTagsDocument.from_doctags_and_image_pairs
  docling/pipeline/vlm_pipeline.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

satisfying mypy and other checks
  docling/pipeline/vlm_pipeline.py
Due: black, isort, mypy

Added support for force_backend_text parameter
  docling/pipeline/vlm_pipeline.py
Due: black, isort, mypy

removed unnecessary transformation
  docling/pipeline/vlm_pipeline.py
Due: black, isort, mypy

Cleaned up
  docling/pipeline/vlm_pipeline.py
Due: black, isort, mypy

add factory return and ignore options type
  docling/cli/main.py
  docling/models/factories/__init__.py
Due: black, isort, mypy

Update tests
  tests/data/groundtruth/docling_v2/word_tables.docx.html
Due: none

Updated readme
  README.md
Due: none

feat: add factory for ocr engines via plugins (#1010)
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/models/base_model.py
  docling/models/base_ocr_model.py
  docling/models/easyocr_model.py
  docling/models/factories/__init__.py
  docling/models/factories/base_factory.py
  docling/models/factories/ocr_factory.py
  docling/models/factories/picture_description_factory.py
  docling/models/ocr_mac_model.py
  docling/models/picture_description_api_model.py
  docling/models/picture_description_base_model.py
  docling/models/picture_description_vlm_model.py
  docling/models/plugins/__init__.py
  docling/models/plugins/defaults.py
  docling/models/rapid_ocr_model.py
  docling/models/tesseract_ocr_cli_model.py
  docling/models/tesseract_ocr_model.py
  docling/pipeline/standard_pdf_pipeline.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

feat: updated vlm pipeline (with latest changes from docling-core) (#1158)
  README.md
  docling/pipeline/vlm_pipeline.py
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v2/word_tables.docx.html
Due: black, isort, mypy

move apify to docs
  README.md
  docs/integrations/apify.md
  mkdocs.yml
Due: none

point the auxiliary files to the community repo and add lfai in README
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  MAINTAINERS.md
  README.md
Due: none

docs: move apify to docs (#1182)
  README.md
  docs/integrations/apify.md
  mkdocs.yml
Due: none

update docs index
  docs/index.md
Due: none
