Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

black:
  name: Black
  entry: poetry run black docling docs/examples tests
  pass_filenames: false
  language: system

isort:
  name: isort
  entry: poetry run isort docling docs/examples tests
  pass_filenames: false
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy docling
  pass_filenames: false
  language: system

nbqa_black:
  name: nbQA Black
  entry: poetry run nbqa black docs/examples
  pass_filenames: false
  language: system

nbqa_isort:
  name: nbQA isort
  entry: poetry run nbqa isort docs/examples
  pass_filenames: false
  language: system

docs: fixed typo in v2 example v2 (#378)
  docs/v2.md
Due: none

feat: added support for exporting DocItem to an image when page image is available (#379)
  docling/datamodel/pipeline_options.py
  docs/examples/develop_picture_enrichment.py
  docs/examples/export_figures.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

Sample chunking notebook that includes merging, etc. (#193)
  docs/examples/advanced_chunking_with_merging.ipynb
  docs/examples/rag_langchain.ipynb
Due: nbqa_black, nbqa_isort

add multiple improvements and fixes
  docs/examples/advanced_chunking_with_merging.ipynb
Due: nbqa_black, nbqa_isort

fix: propagate document limits to converter
  docling/document_converter.py
Due: black, isort, mypy

fix: propagate document limits to converter (#388)
  docling/document_converter.py
Due: black, isort, mypy

Update README.md
  README.md
Due: none

integrated paddleocr model for performing accurate ocr when using docling document converter
  README.md
  docling/datamodel/pipeline_options.py
  docling/models/paddle_ocr_model.py
  docling/pipeline/standard_pdf_pipeline.py
Due: black, isort, mypy

original readme for pull request
  README.md
Due: none

feat: add support for `ocrmac` OCR engine on macOS
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/models/ocr_mac_model.py
  docling/pipeline/standard_pdf_pipeline.py
  docs/installation.md
  poetry.lock
  pyproject.toml
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

docs: update examples and installation for ocrmac support
  docs/examples/custom_convert.py
  docs/examples/full_page_ocr.py
  docs/installation.md
Due: black, isort, mypy

added documentation, tests and updated dependencies to support paddleocr
  docling/cli/main.py
  docs/examples/full_page_ocr.py
  docs/installation.md
  poetry.lock
  pyproject.toml
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

fix: update `ocrmac` dependency with macOS-specific marker
  poetry.lock
  pyproject.toml
Due: none

feat: add support for `ocrmac` OCR engine on macOS (#276)
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/models/ocr_mac_model.py
  docling/pipeline/standard_pdf_pipeline.py
  docs/examples/custom_convert.py
  docs/examples/full_page_ocr.py
  docs/installation.md
  poetry.lock
  pyproject.toml
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

fixes for python3.9
  .github/workflows/checks.yml
  README.md
  docling/cli/main.py
  docling/document_converter.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

pin docling-parse with python3.9 wheels
  poetry.lock
  pyproject.toml
Due: none

update deps
  poetry.lock
Due: none

fix: python3.9 support (#396)
  .github/workflows/checks.yml
  README.md
  docling/cli/main.py
  docling/document_converter.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

add security policy
  .github/SECURITY.md
Due: none

update deprecated actions
  .github/actions/setup-poetry/action.yml
  .github/workflows/cd.yml
  .github/workflows/checks.yml
  .github/workflows/pypi.yml
Due: none

add comment about licenses for new dependencies
  CONTRIBUTING.md
Due: none

add pypi downloads badge
  README.md
Due: none

add citation file
  CITATION.cff
Due: none

chore: add downloads in README, security policy and update ci actions (#401)
  .github/SECURITY.md
  .github/actions/setup-poetry/action.yml
  .github/workflows/cd.yml
  .github/workflows/checks.yml
  .github/workflows/pypi.yml
  CITATION.cff
  CONTRIBUTING.md
  README.md
Due: none

fix: force pydantic < 2.10.0
  poetry.lock
  pyproject.toml
Due: none

docs: add DocETL, Kotaemon, spaCy integrations; minor docs improvements
  docs/concepts/index.md
  docs/index.md
  docs/integrations/.template.md
  docs/integrations/data_prep_kit.md
  docs/integrations/docetl.md
  docs/integrations/kotaemon.md
  docs/integrations/llamaindex.md
  docs/integrations/spacy.md
  mkdocs.yml
Due: none

chore: update the README
  README.md
Due: none

chore: update the docs
  docs/index.md
Due: none

docs: add DocETL, Kotaemon, spaCy integrations; minor docs improvements (#408)
  docs/concepts/index.md
  docs/index.md
  docs/integrations/.template.md
  docs/integrations/data_prep_kit.md
  docs/integrations/docetl.md
  docs/integrations/kotaemon.md
  docs/integrations/llamaindex.md
  docs/integrations/spacy.md
  mkdocs.yml
Due: none

chore: update the README (#409)
  README.md
  docs/index.md
Due: none

adding rapidocr engine for ocr in docling
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/models/rapid_ocr_model.py
  docling/pipeline/standard_pdf_pipeline.py
  docs/examples/full_page_ocr.py
  docs/installation.md
  poetry.lock
  pyproject.toml
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

fix: force pydantic < 2.10.0 (#407)
  poetry.lock
  pyproject.toml
Due: none

fixing styling issues
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/models/paddle_ocr_model.py
  docling/pipeline/standard_pdf_pipeline.py
  docs/examples/full_page_ocr.py
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbqa_black: any of: \.ipynb$
  nbqa_isort: any of: \.ipynb$
