Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

black:
  name: Black
  entry: poetry run black docling docs/examples tests
  pass_filenames: false
  language: system

isort:
  name: isort
  entry: poetry run isort docling docs/examples tests
  pass_filenames: false
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy docling
  pass_filenames: false
  language: system

nbqa_black:
  name: nbQA Black
  entry: poetry run nbqa black docs/examples
  pass_filenames: false
  language: system

nbqa_isort:
  name: nbQA isort
  entry: poetry run nbqa isort docs/examples
  pass_filenames: false
  language: system

feat: Introduce support for GPU Accelerators (#593)
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/models/easyocr_model.py
  docling/models/layout_model.py
  docling/models/rapid_ocr_model.py
  docling/models/table_structure_model.py
  docling/pipeline/standard_pdf_pipeline.py
  docling/utils/accelerator_utils.py
  docs/examples/custom_convert.py
  docs/examples/run_with_accelerator.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v1/2203.01017v2.json
  tests/data/groundtruth/docling_v1/2203.01017v2.pages.json
  tests/data/groundtruth/docling_v1/2206.01062.json
  tests/data/groundtruth/docling_v1/2206.01062.pages.json
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v1/2305.03393v1.json
  tests/data/groundtruth/docling_v1/2305.03393v1.pages.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.pages.json
  tests/data/groundtruth/docling_v2/2203.01017v2.json
  tests/data/groundtruth/docling_v2/2203.01017v2.pages.json
  tests/data/groundtruth/docling_v2/2206.01062.json
  tests/data/groundtruth/docling_v2/2206.01062.pages.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v2/2305.03393v1.json
  tests/data/groundtruth/docling_v2/2305.03393v1.pages.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.pages.json
  tests/test_options.py
Due: black, isort, mypy

blacklisted the picture layout tag so that it is forced to interpret the contents of the image and retrieve text that otherwise would be lost with an image tag
  docling/models/layout_model.py
Due: black, isort, mypy

Update easyocr_model.py
  docling/models/easyocr_model.py
Due: black, isort, mypy

Update pipeline_options.py
  docling/datamodel/pipeline_options.py
Due: black, isort, mypy

fix: Fix the path to the run_with_accelerator.py example
  mkdocs.yml
Due: none

Introduce OCR confidence, propagate to orphan in post-processing
  docling/datamodel/pipeline_options.py
  docling/models/easyocr_model.py
  docling/models/layout_model.py
  docling/utils/glm_utils.py
  docling/utils/layout_postprocessor.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

Fix form and key value area groups
  docling/utils/glm_utils.py
Due: black, isort, mypy

docs: Fix the path to the run_with_accelerator.py example (#608)
  mkdocs.yml
Due: none

Add Easyocr recog_network parameter
  docling/datamodel/pipeline_options.py
Due: black, isort, mypy

feat: Add Easyocr parameter recog_network (#613)
  docling/datamodel/pipeline_options.py
  docling/models/easyocr_model.py
Due: black, isort, mypy

Adjust confidence in EasyOcr
  docling/datamodel/pipeline_options.py
Due: black, isort, mypy

docs: add Haystack RAG example
  docs/examples/rag_haystack.ipynb
  mkdocs.yml
Due: nbqa_black, nbqa_isort

docs: add Haystack RAG example (#615)
  docs/examples/rag_haystack.ipynb
  mkdocs.yml
Due: nbqa_black, nbqa_isort

Roll back CLI changes from main
  docling/cli/main.py
Due: black, isort, mypy

Update test GT
  tests/data/groundtruth/docling_v1/2203.01017v2.doctags.txt
  tests/data/groundtruth/docling_v1/2203.01017v2.json
  tests/data/groundtruth/docling_v1/2203.01017v2.md
  tests/data/groundtruth/docling_v1/2203.01017v2.pages.json
  tests/data/groundtruth/docling_v1/2206.01062.json
  tests/data/groundtruth/docling_v1/2206.01062.pages.json
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v1/2305.03393v1.doctags.txt
  tests/data/groundtruth/docling_v1/2305.03393v1.json
  tests/data/groundtruth/docling_v1/2305.03393v1.md
  tests/data/groundtruth/docling_v1/2305.03393v1.pages.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v1/redp5110_sampled.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.md
  tests/data/groundtruth/docling_v1/redp5110_sampled.pages.json
  tests/data/groundtruth/docling_v2/2203.01017v2.doctags.txt
  tests/data/groundtruth/docling_v2/2203.01017v2.json
  tests/data/groundtruth/docling_v2/2203.01017v2.md
  tests/data/groundtruth/docling_v2/2203.01017v2.pages.json
  tests/data/groundtruth/docling_v2/2206.01062.json
  tests/data/groundtruth/docling_v2/2206.01062.pages.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v2/2305.03393v1.doctags.txt
  tests/data/groundtruth/docling_v2/2305.03393v1.json
  tests/data/groundtruth/docling_v2/2305.03393v1.md
  tests/data/groundtruth/docling_v2/2305.03393v1.pages.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v2/redp5110_sampled.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.md
  tests/data/groundtruth/docling_v2/redp5110_sampled.pages.json
  tests/data/groundtruth/docling_v2/wiki_duck.html.itxt
  tests/data_scanned/groundtruth/docling_v1/ocr_test.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.pages.json
Due: none

feat: add USPTO backend parser
  docling/backend/patent_uspto_backend.py
  tests/data/groundtruth/docling_v2/ipa20180000016.itxt
  tests/data/groundtruth/docling_v2/ipa20180000016.json
  tests/data/groundtruth/docling_v2/ipa20180000016.md
  tests/data/groundtruth/docling_v2/ipa20200022300.itxt
  tests/data/groundtruth/docling_v2/ipa20200022300.json
  tests/data/groundtruth/docling_v2/ipa20200022300.md
  tests/data/groundtruth/docling_v2/pa20010031492.itxt
  tests/data/groundtruth/docling_v2/pa20010031492.json
  tests/data/groundtruth/docling_v2/pa20010031492.md
  tests/data/groundtruth/docling_v2/pftaps057006474.itxt
  tests/data/groundtruth/docling_v2/pftaps057006474.json
  tests/data/groundtruth/docling_v2/pftaps057006474.md
  tests/data/groundtruth/docling_v2/pg06442728.itxt
  tests/data/groundtruth/docling_v2/pg06442728.json
  tests/data/groundtruth/docling_v2/pg06442728.md
  tests/data/uspto/ipa20110039701.xml
  tests/data/uspto/ipa20180000016.xml
  tests/data/uspto/ipa20200022300.xml
  tests/data/uspto/ipg07997973.xml
  tests/data/uspto/ipg08672134.xml
  tests/data/uspto/ipgD0701016.xml
  tests/data/uspto/pa20010031492.xml
  tests/data/uspto/pftaps057006474.txt
  tests/data/uspto/pg06442728.xml
  tests/data/uspto/tables_ipa20180000016.xml
  tests/test_backend_patent_uspto.py
Due: black, isort, mypy

feat: add PATENT_USPTO as input format
  docling/backend/patent_uspto_backend.py
  docling/datamodel/base_models.py
  docling/document_converter.py
Due: black, isort, mypy

refactor: address several input formats with same mime type
  docling/backend/xml_uspto_backend.py
  docling/datamodel/base_models.py
  docling/datamodel/document.py
  tests/test_input_doc.py
Due: black, isort, mypy

refactor: change the name of the USPTO input format
  docling/backend/xml_uspto_backend.py
  docling/datamodel/base_models.py
  docling/document_converter.py
  tests/test_backend_patent_uspto.py
Due: black, isort, mypy

Update docling-core pinning
  poetry.lock
  pyproject.toml
Due: none

test: generate file from CLI in a temporary directory
  tests/test_cli.py
Due: black, isort, mypy

refactor: group XML backend parsers in a subfolder
  docling/backend/xml/uspto_backend.py
  docling/datamodel/base_models.py
  docling/document_converter.py
  tests/test_backend_patent_uspto.py
Due: black, isort, mypy

chore: add safe initialization of PatentUsptoDocumentBackend
  docling/backend/xml/__init__.py
  docling/backend/xml/uspto_backend.py
  docling/datamodel/base_models.py
  docling/datamodel/document.py
Due: black, isort, mypy

Annoying fixes for historical python versions
  docling/pipeline/base_pipeline.py
  docling/utils/layout_postprocessor.py
Due: black, isort, mypy

feat: create a backend to parse USPTO patents into DoclingDocument (#606)
  docling/backend/xml/__init__.py
  docling/backend/xml/uspto_backend.py
  docling/datamodel/base_models.py
  docling/datamodel/document.py
  docling/document_converter.py
  tests/data/groundtruth/docling_v2/ipa20180000016.itxt
  tests/data/groundtruth/docling_v2/ipa20180000016.json
  tests/data/groundtruth/docling_v2/ipa20180000016.md
  tests/data/groundtruth/docling_v2/ipa20200022300.itxt
  tests/data/groundtruth/docling_v2/ipa20200022300.json
  tests/data/groundtruth/docling_v2/ipa20200022300.md
  tests/data/groundtruth/docling_v2/pa20010031492.itxt
  tests/data/groundtruth/docling_v2/pa20010031492.json
  tests/data/groundtruth/docling_v2/pa20010031492.md
  tests/data/groundtruth/docling_v2/pftaps057006474.itxt
  tests/data/groundtruth/docling_v2/pftaps057006474.json
  tests/data/groundtruth/docling_v2/pftaps057006474.md
  tests/data/groundtruth/docling_v2/pg06442728.itxt
  tests/data/groundtruth/docling_v2/pg06442728.json
  tests/data/groundtruth/docling_v2/pg06442728.md
  tests/data/uspto/ipa20110039701.xml
  tests/data/uspto/ipa20180000016.xml
  tests/data/uspto/ipa20200022300.xml
  tests/data/uspto/ipg07997973.xml
  tests/data/uspto/ipg08672134.xml
  tests/data/uspto/ipgD0701016.xml
  tests/data/uspto/pa20010031492.xml
  tests/data/uspto/pftaps057006474.txt
  tests/data/uspto/pg06442728.xml
  tests/data/uspto/tables_ipa20180000016.xml
  tests/test_backend_patent_uspto.py
  tests/test_input_doc.py
Due: black, isort, mypy

test: generate file from CLI in a temporary directory (#618)
  tests/test_cli.py
Due: black, isort, mypy

Updated test GT for legacy
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v1/2203.01017v2.md
  tests/data/groundtruth/docling_v1/2206.01062.md
  tests/data/groundtruth/docling_v1/redp5110_sampled.md
Due: none

Fix formatting with nbQA isort
  docs/examples/rag_langchain.ipynb
  docs/examples/rag_weaviate.ipynb
Due: nbqa_black, nbqa_isort

Comment cleanup
  docling/utils/layout_postprocessor.py
Due: black, isort, mypy

feat: Create a backend to transform PubMed XML files to DoclingDocument
  docling/backend/xml/pubmed_backend.py
  docling/datamodel/base_models.py
  docling/datamodel/document.py
  docling/document_converter.py
  tests/data/groundtruth/docling_v2/elife-56337.xml.itxt
  tests/data/groundtruth/docling_v2/elife-56337.xml.json
  tests/data/groundtruth/docling_v2/elife-56337.xml.md
  tests/data/groundtruth/docling_v2/pntd.0008301.xml.itxt
  tests/data/groundtruth/docling_v2/pntd.0008301.xml.json
  tests/data/groundtruth/docling_v2/pntd.0008301.xml.md
  tests/data/groundtruth/docling_v2/pone.0234687.xml.itxt
  tests/data/groundtruth/docling_v2/pone.0234687.xml.json
  tests/data/groundtruth/docling_v2/pone.0234687.xml.md
  tests/data/pubmed/elife-56337.nxml
  tests/data/pubmed/elife-56337.txt
  tests/data/pubmed/elife-56337.xml
  tests/data/pubmed/pntd.0008301.nxml
  tests/data/pubmed/pntd.0008301.txt
  tests/data/pubmed/pntd.0008301.xml
  tests/data/pubmed/pone.0234687.nxml
  tests/data/pubmed/pone.0234687.txt
  tests/data/pubmed/pone.0234687.xml
  tests/test_backend_pubmed.py
  tests/test_input_doc.py
Due: black, isort, mypy

feat: Create a backend to transform PubMed XML files to DoclingDocument (#557)
  docling/backend/xml/pubmed_backend.py
  docling/datamodel/base_models.py
  docling/datamodel/document.py
  docling/document_converter.py
  tests/data/groundtruth/docling_v2/elife-56337.xml.itxt
  tests/data/groundtruth/docling_v2/elife-56337.xml.json
  tests/data/groundtruth/docling_v2/elife-56337.xml.md
  tests/data/groundtruth/docling_v2/pntd.0008301.xml.itxt
  tests/data/groundtruth/docling_v2/pntd.0008301.xml.json
  tests/data/groundtruth/docling_v2/pntd.0008301.xml.md
  tests/data/groundtruth/docling_v2/pone.0234687.xml.itxt
  tests/data/groundtruth/docling_v2/pone.0234687.xml.json
  tests/data/groundtruth/docling_v2/pone.0234687.xml.md
  tests/data/pubmed/elife-56337.nxml
  tests/data/pubmed/elife-56337.txt
  tests/data/pubmed/elife-56337.xml
  tests/data/pubmed/pntd.0008301.nxml
  tests/data/pubmed/pntd.0008301.txt
  tests/data/pubmed/pntd.0008301.xml
  tests/data/pubmed/pone.0234687.nxml
  tests/data/pubmed/pone.0234687.txt
  tests/data/pubmed/pone.0234687.xml
  tests/test_backend_pubmed.py
  tests/test_input_doc.py
Due: black, isort, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbqa_black: any of: \.ipynb$
  nbqa_isort: any of: \.ipynb$
