Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

black:
  name: Black
  entry: poetry run black docling docs/examples tests
  pass_filenames: false
  language: system

isort:
  name: isort
  entry: poetry run isort docling docs/examples tests
  pass_filenames: false
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy docling
  pass_filenames: false
  language: system

nbqa_black:
  name: nbQA Black
  entry: poetry run nbqa black docs/examples
  pass_filenames: false
  language: system

nbqa_isort:
  name: nbQA isort
  entry: poetry run nbqa isort docs/examples
  pass_filenames: false
  language: system

Added support for code blocks and fenced code in MD
  docling/backend/md_backend.py
  docs/examples/run_with_formats.py
Due: black, isort, mypy

cleaned prints
  docling/backend/md_backend.py
Due: black, isort, mypy

updated the pyproject (still need to run poetry lock after docling-parse is accepted)
  docling/backend/docling_parse_v2_backend.py
  pyproject.toml
Due: black, isort, mypy

Added proper processing of in-line textual elements for MD backend
  docling/backend/md_backend.py
Due: black, isort, mypy

Update imports for docling_parse.pdf_parser_v1
  docling/backend/docling_parse_backend.py
  docling/backend/docling_parse_v2_backend.py
Due: black, isort, mypy

fix: set valid=false for invalid backends
  docling/datamodel/document.py
Due: black, isort, mypy

Add test case for InputDocument
  tests/test_input_doc.py
Due: black, isort, mypy

Fixed issues with duplicated paragraphs and incorrect lists in pptx
  docling/backend/mspowerpoint_backend.py
  tests/data/powerpoint_sample.pptx
Due: black, isort, mypy

Lock docling-parse 2.0.0
  poetry.lock
Due: none

Fixed issue with group ordeering in pptx backend, added gebug log into run with formats
  docling/backend/mspowerpoint_backend.py
  docs/examples/run_with_formats.py
Due: black, isort, mypy

fix: set valid=false for invalid backends (#171)
  docling/datamodel/document.py
  tests/test_input_doc.py
Due: black, isort, mypy

repin poetry.lock
  poetry.lock
Due: none

feat: Update to docling-parse v2 without history (#170)
  docling/backend/docling_parse_backend.py
  docling/backend/docling_parse_v2_backend.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

Fix for md hanging when encountering long sequence of unescaped underscore chars
  docling/backend/md_backend.py
Due: black, isort, mypy

Added comment explaining reason for fix
  docling/backend/md_backend.py
Due: black, isort, mypy

Fixed trailing inline text handling (at the end of a file), and corrected underscore sequence shortening
  docling/backend/md_backend.py
Due: black, isort, mypy

docs: add export with embedded images
  docs/examples/export_figures.py
Due: black, isort, mypy

docs: add export with embedded images (#175)
  docs/examples/export_figures.py
Due: black, isort, mypy

docs: fix batch convert
  docs/examples/batch_convert.py
Due: black, isort, mypy

Small fix to properly handle trailing inline text in the md backend
  docling/backend/md_backend.py
Due: black, isort, mypy

chore: make auto-release on request
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

making fix more rare
  docling/backend/md_backend.py
Due: black, isort, mypy

Added proper handling of headers with bold, italic or emphasis
  docling/backend/md_backend.py
Due: black, isort, mypy

chore: make auto-release on request (#179)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

removed print
  docling/backend/md_backend.py
Due: black, isort, mypy

Made smarter processing of headers, with arbitrary styling
  docling/backend/md_backend.py
Due: black, isort, mypy

Updated docling-core to 2.2.1
  poetry.lock
  pyproject.toml
Due: none

Fixes for HTML backend
  docling/backend/html_backend.py
Due: black, isort, mypy

Updated tests because of the change in Markdown export in docling-core
  tests/data/groundtruth/docling_v2/2203.01017v2.md
  tests/data/groundtruth/docling_v2/2305.03393v1.md
  tests/data/groundtruth/docling_v2/redp5110.md
Due: none

removed prints
  docling/backend/html_backend.py
Due: black, isort, mypy

cleaning up
  docling/backend/html_backend.py
Due: black, isort, mypy

fix: MD Backend, fixes to properly handle trailing inline text and emphasis in headers (#178)
  docling/backend/md_backend.py
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v2/2203.01017v2.md
  tests/data/groundtruth/docling_v2/2305.03393v1.md
  tests/data/groundtruth/docling_v2/redp5110.md
Due: black, isort, mypy

fix: HTML backend, fixes for Lists and nested texts (#180)
  docling/backend/html_backend.py
Due: black, isort, mypy

docs: fix batch convert (#177)
  docs/examples/batch_convert.py
Due: black, isort, mypy

docs: update LlamaIndex docs for Docling v2
  docs/examples/rag_llamaindex.ipynb
  docs/integrations/llamaindex.md
Due: nbqa_black, nbqa_isort

Add settings to turn visualization on or off
  docling/datamodel/settings.py
  docling/models/easyocr_model.py
  docling/models/layout_model.py
  docling/models/table_structure_model.py
  docling/models/tesseract_ocr_cli_model.py
  docling/models/tesseract_ocr_model.py
  docs/examples/batch_convert.py
Due: black, isort, mypy

docs: update LlamaIndex docs for Docling v2 (#182)
  docs/examples/rag_llamaindex.ipynb
  docs/integrations/llamaindex.md
Due: nbqa_black, nbqa_isort

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbqa_black: any of: \.ipynb$
  nbqa_isort: any of: \.ipynb$
