Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

black:
  name: Black
  entry: poetry run black docling docs/examples tests
  pass_filenames: false
  language: system

isort:
  name: isort
  entry: poetry run isort docling docs/examples tests
  pass_filenames: false
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy docling
  pass_filenames: false
  language: system

nbqa_black:
  name: nbQA Black
  entry: poetry run nbqa black docs/examples
  pass_filenames: false
  language: system

nbqa_isort:
  name: nbQA isort
  entry: poetry run nbqa isort docs/examples
  pass_filenames: false
  language: system

feat: add `py.typed` marker file
  docling/py.typed
Due: none

docs: document new integrations (#532)
  docs/integrations/bee.md
  docs/integrations/cloudera.md
  docs/integrations/data_prep_kit.md
  docs/integrations/docetl.md
  docs/integrations/instructlab.md
  docs/integrations/kotaemon.md
  docs/integrations/llamaindex.md
  docs/integrations/prodigy.md
  docs/integrations/rhel_ai.md
  docs/integrations/spacy.md
  docs/integrations/txtai.md
  mkdocs.yml
Due: none

fix: Add `py.typed` marker file (#531)
  docling/py.typed
Due: none

ci: allow ! in conventionalcommits
  .github/mergify.yml
Due: none

Using style id instead of style names, which should be localization agnostic
  docling/backend/msword_backend.py
Due: black, isort, mypy

ci: allow ! in conventionalcommits (#533)
  .github/mergify.yml
Due: none

fix: Improve the pydantic objects in the pipeline_options and imports.
  docling/datamodel/pipeline_options.py
  docling/models/easyocr_model.py
  docling/models/layout_model.py
  docling/models/rapid_ocr_model.py
  docling/models/table_structure_model.py
  docling/pipeline/standard_pdf_pipeline.py
Due: black, isort, mypy

feat(MS Word backend): Make detection of headers and other styles localization agnostic (#534)
  docling/backend/msword_backend.py
Due: black, isort, mypy

Correcting DefaultText ID for MS Word backend
  docling/backend/msword_backend.py
Due: black, isort, mypy

fix: Correcting DefaultText ID for MS Word backend (#537)
  docling/backend/msword_backend.py
Due: black, isort, mypy

feat: expose new hybrid chunker, update docs
  docling/chunking/__init__.py
  docs/assets/docling_arch.png
  docs/assets/docling_arch.pptx
  docs/concepts/chunking.md
  docs/examples/hybrid_chunking.ipynb
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/data/md/wiki.md
Due: black, isort, mypy, nbqa_black, nbqa_isort

fix: main: Introduce format options for Image with the same pdf pipeline_options. Add RapidOcrOptions to the Union of ocr_options for PdfPipelineOptions
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
Due: black, isort, mypy

fix: Silence the tqdm messages during the downloading of model files
  docling/pipeline/standard_pdf_pipeline.py
Due: black, isort, mypy

fix: Code styling
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/pipeline/standard_pdf_pipeline.py
Due: black, isort, mypy

feat: expose new hybrid chunker, update docs (#384)
  docling/chunking/__init__.py
  docs/assets/docling_arch.png
  docs/assets/docling_arch.pptx
  docs/concepts/chunking.md
  docs/examples/hybrid_chunking.ipynb
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/data/md/wiki.md
Due: black, isort, mypy, nbqa_black, nbqa_isort

docs: update chunking usage docs, minor reorg
  docs/concepts/architecture.md
  docs/reference/cli.md
  docs/reference/docling_document.md
  docs/reference/document_converter.md
  docs/reference/index.md
  docs/reference/pipeline_options.md
  docs/usage.md
  mkdocs.yml
Due: none

fix: TableStructureModel: Refactor the artifacts path to use the new structure for fast/accurate model
  docling/models/table_structure_model.py
Due: black, isort, mypy

Move to_docling_document from ds-glm to this repo
  docling/backend/docling_parse_backend.py
  docling/models/ds_glm_model.py
  docling/utils/glm_utils.py
Due: black, isort, mypy

Upgrade to ds-glm 1.0 and docling-parse 3.0
  docling/backend/docling_parse_v2_backend.py
  docling/document_converter.py
  poetry.lock
  pyproject.toml
  tests/test_legacy_format_transform.py
Due: black, isort, mypy

Update lock
  poetry.lock
Due: none

Fix DP2 backend code, change CLI default backend
  docling/backend/docling_parse_v2_backend.py
  docling/cli/main.py
  tests/test_legacy_format_transform.py
Due: black, isort, mypy

Updated test ground-truth
  tests/data/groundtruth/docling_v1/2203.01017v2.doctags.txt
  tests/data/groundtruth/docling_v1/2203.01017v2.json
  tests/data/groundtruth/docling_v1/2203.01017v2.md
  tests/data/groundtruth/docling_v1/2203.01017v2.pages.json
  tests/data/groundtruth/docling_v1/2206.01062.doctags.txt
  tests/data/groundtruth/docling_v1/2206.01062.json
  tests/data/groundtruth/docling_v1/2206.01062.md
  tests/data/groundtruth/docling_v1/2206.01062.pages.json
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v1/2305.03393v1.doctags.txt
  tests/data/groundtruth/docling_v1/2305.03393v1.json
  tests/data/groundtruth/docling_v1/2305.03393v1.md
  tests/data/groundtruth/docling_v1/2305.03393v1.pages.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v1/redp5110_sampled.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.md
  tests/data/groundtruth/docling_v1/redp5110_sampled.pages.json
  tests/data/groundtruth/docling_v2/2203.01017v2.doctags.txt
  tests/data/groundtruth/docling_v2/2203.01017v2.json
  tests/data/groundtruth/docling_v2/2203.01017v2.md
  tests/data/groundtruth/docling_v2/2203.01017v2.pages.json
  tests/data/groundtruth/docling_v2/2206.01062.doctags.txt
  tests/data/groundtruth/docling_v2/2206.01062.json
  tests/data/groundtruth/docling_v2/2206.01062.md
  tests/data/groundtruth/docling_v2/2206.01062.pages.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v2/2305.03393v1.doctags.txt
  tests/data/groundtruth/docling_v2/2305.03393v1.json
  tests/data/groundtruth/docling_v2/2305.03393v1.md
  tests/data/groundtruth/docling_v2/2305.03393v1.pages.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v2/redp5110_sampled.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.md
  tests/data/groundtruth/docling_v2/redp5110_sampled.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.pages.json
Due: none

feat: docling-parse v2 as default PDF backend (#549)
  docling/backend/docling_parse_backend.py
  docling/backend/docling_parse_v2_backend.py
  docling/cli/main.py
  docling/document_converter.py
  docling/models/ds_glm_model.py
  docling/utils/glm_utils.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

Updated test ground-truth (again), bugfix for empty layout
  docling/utils/layout_postprocessor.py
  tests/data/groundtruth/docling_v1/2203.01017v2.doctags.txt
  tests/data/groundtruth/docling_v1/2203.01017v2.json
  tests/data/groundtruth/docling_v1/2203.01017v2.md
  tests/data/groundtruth/docling_v1/2203.01017v2.pages.json
  tests/data/groundtruth/docling_v1/2206.01062.pages.json
  tests/data/groundtruth/docling_v1/2305.03393v1.doctags.txt
  tests/data/groundtruth/docling_v1/2305.03393v1.json
  tests/data/groundtruth/docling_v1/2305.03393v1.md
  tests/data/groundtruth/docling_v1/2305.03393v1.pages.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v1/redp5110_sampled.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.md
  tests/data/groundtruth/docling_v1/redp5110_sampled.pages.json
  tests/data/groundtruth/docling_v2/2203.01017v2.doctags.txt
  tests/data/groundtruth/docling_v2/2203.01017v2.json
  tests/data/groundtruth/docling_v2/2203.01017v2.md
  tests/data/groundtruth/docling_v2/2203.01017v2.pages.json
  tests/data/groundtruth/docling_v2/2206.01062.pages.json
  tests/data/groundtruth/docling_v2/2305.03393v1.doctags.txt
  tests/data/groundtruth/docling_v2/2305.03393v1.json
  tests/data/groundtruth/docling_v2/2305.03393v1.md
  tests/data/groundtruth/docling_v2/2305.03393v1.pages.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v2/redp5110_sampled.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.md
  tests/data/groundtruth/docling_v2/redp5110_sampled.pages.json
Due: black, isort, mypy

fix: Use the HF API to disable the tqdm progress bars
  docling/pipeline/standard_pdf_pipeline.py
Due: black, isort, mypy

fix: Introduce Image format options in CLI. Silence the tqdm downloading messages. (#544)
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/pipeline/standard_pdf_pipeline.py
Due: black, isort, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbqa_black: any of: \.ipynb$
  nbqa_isort: any of: \.ipynb$
