Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

black:
  name: Black
  entry: poetry run black docling docs/examples tests
  pass_filenames: false
  language: system

isort:
  name: isort
  entry: poetry run isort docling docs/examples tests
  pass_filenames: false
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy docling
  pass_filenames: false
  language: system

nbqa_black:
  name: nbQA Black
  entry: poetry run nbqa black docs/examples
  pass_filenames: false
  language: system

nbqa_isort:
  name: nbQA isort
  entry: poetry run nbqa isort docs/examples
  pass_filenames: false
  language: system

fixing styling format
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/models/rapid_ocr_model.py
  docling/pipeline/standard_pdf_pipeline.py
  docs/examples/full_page_ocr.py
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

Update layout_utils.py by changing an "if" to an "elif" keyword.
  docling/utils/layout_utils.py
Due: black, isort, mypy

updating pyproject.toml and poetry.lock to fix ci bugs
  poetry.lock
  pyproject.toml
Due: none

fix: PermissionError when using tesseract_ocr_cli_model
  docling/models/tesseract_ocr_cli_model.py
Due: black, isort, mypy

fixes for referencing drawing blip in wordx
  docling/backend/msword_backend.py
Due: black, isort, mypy

Added safety try-except when trying to load pillow image from a docx blob. Added explicit dependency on lxml.
  docling/backend/msword_backend.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

help poetry pinning for python3.9
  poetry.lock
  pyproject.toml
Due: none

Added test for word file with embedded emf images, re-generated full tests for docx, eased up dependency on lxml
  docling/backend/msword_backend.py
  poetry.lock
  pyproject.toml
  tests/data/docx/test_emf_docx.docx
  tests/data/groundtruth/docling_v2/tablecell.docx.itxt
  tests/data/groundtruth/docling_v2/tablecell.docx.json
  tests/data/groundtruth/docling_v2/tablecell.docx.md
  tests/data/groundtruth/docling_v2/test_emf_docx.docx.itxt
  tests/data/groundtruth/docling_v2/test_emf_docx.docx.json
  tests/data/groundtruth/docling_v2/test_emf_docx.docx.md
  tests/data/groundtruth/docling_v2/word_sample.json
  tests/data/groundtruth/docling_v2/word_sample.md
  tests/data/groundtruth/docling_v2/word_sample.yaml
Due: black, isort, mypy

Updated lxml dependency version
  poetry.lock
  pyproject.toml
Due: none

fix: Fixes for wordx (#432)
  docling/backend/msword_backend.py
  poetry.lock
  pyproject.toml
  tests/data/docx/test_emf_docx.docx
  tests/data/groundtruth/docling_v2/tablecell.docx.itxt
  tests/data/groundtruth/docling_v2/tablecell.docx.json
  tests/data/groundtruth/docling_v2/tablecell.docx.md
  tests/data/groundtruth/docling_v2/test_emf_docx.docx.itxt
  tests/data/groundtruth/docling_v2/test_emf_docx.docx.json
  tests/data/groundtruth/docling_v2/test_emf_docx.docx.md
  tests/data/groundtruth/docling_v2/word_sample.json
  tests/data/groundtruth/docling_v2/word_sample.md
  tests/data/groundtruth/docling_v2/word_sample.yaml
Due: black, isort, mypy

fix: Fixes and tests for StopIteration on .convert()
  docling/document_converter.py
  tests/test_invalid_input.py
Due: black, isort, mypy

fix: Other test fixes
  tests/test_interfaces.py
  tests/test_invalid_input.py
Due: black, isort, mypy

fix: Remove unnecessary case handling
  docling/document_converter.py
Due: black, isort, mypy

improve handling of unsupported types
  docling/datamodel/base_models.py
  docling/datamodel/document.py
  docling/document_converter.py
  docling/exceptions.py
  tests/test_invalid_input.py
Due: black, isort, mypy

simplifying rapidocr options so that device can be changed using a single option for all models
  docling/datamodel/pipeline_options.py
  docling/models/rapid_ocr_model.py
Due: black, isort, mypy

fix styling issues and small bug in rapidOcrOptions
  docling/datamodel/pipeline_options.py
  docling/models/rapid_ocr_model.py
Due: black, isort, mypy

use default device until we enable global management
  docling/datamodel/pipeline_options.py
  docling/models/rapid_ocr_model.py
Due: black, isort, mypy

fix image index in word backend
  docling/backend/msword_backend.py
Due: black, isort, mypy

correct rebase error
  docling/backend/msword_backend.py
Due: black, isort, mypy

Add Weaviate RAG recipe notebook
  docs/examples/rag_weaviate.ipynb
Due: nbqa_black, nbqa_isort

Revert "Fix OCR tests"
  tests/data_scanned/groundtruth/docling_v1/ocr_test.easyocr.doctags.txt
  tests/data_scanned/groundtruth/docling_v1/ocr_test.easyocr.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.easyocr.md
  tests/data_scanned/groundtruth/docling_v1/ocr_test.easyocr.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.ocrmac.doctags.txt
  tests/data_scanned/groundtruth/docling_v1/ocr_test.ocrmac.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.ocrmac.md
  tests/data_scanned/groundtruth/docling_v1/ocr_test.ocrmac.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesseract.doctags.txt
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesseract.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesseract.md
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesseract.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesserocr.doctags.txt
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesserocr.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesserocr.md
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesserocr.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.easyocr.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test.easyocr.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.easyocr.md
  tests/data_scanned/groundtruth/docling_v2/ocr_test.easyocr.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.ocrmac.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test.ocrmac.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.ocrmac.md
  tests/data_scanned/groundtruth/docling_v2/ocr_test.ocrmac.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesseract.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesseract.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesseract.md
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesseract.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesserocr.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesserocr.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesserocr.md
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesserocr.pages.json
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

Update tests for docling-core 2.5.0
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v1/redp5110_sampled.pages.json
  tests/data/groundtruth/docling_v2/2203.01017v2.doctags.txt
  tests/data/groundtruth/docling_v2/2206.01062.doctags.txt
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.doctags.txt
  tests/data/groundtruth/docling_v2/2305.03393v1.doctags.txt
  tests/data/groundtruth/docling_v2/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v2/redp5110_sampled.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.pages.json
Due: none

Update lockfile for docling-core 2.5.1
  poetry.lock
  pyproject.toml
Due: none

Fix OCR tests
  tests/data_scanned/groundtruth/docling_v1/ocr_test.easyocr.doctags.txt
  tests/data_scanned/groundtruth/docling_v1/ocr_test.easyocr.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.easyocr.md
  tests/data_scanned/groundtruth/docling_v1/ocr_test.easyocr.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.ocrmac.doctags.txt
  tests/data_scanned/groundtruth/docling_v1/ocr_test.ocrmac.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.ocrmac.md
  tests/data_scanned/groundtruth/docling_v1/ocr_test.ocrmac.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesseract.doctags.txt
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesseract.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesseract.md
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesseract.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesserocr.doctags.txt
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesserocr.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesserocr.md
  tests/data_scanned/groundtruth/docling_v1/ocr_test.tesserocr.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.easyocr.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test.easyocr.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.easyocr.md
  tests/data_scanned/groundtruth/docling_v2/ocr_test.easyocr.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.ocrmac.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test.ocrmac.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.ocrmac.md
  tests/data_scanned/groundtruth/docling_v2/ocr_test.ocrmac.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesseract.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesseract.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesseract.md
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesseract.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesserocr.doctags.txt
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesserocr.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesserocr.md
  tests/data_scanned/groundtruth/docling_v2/ocr_test.tesserocr.pages.json
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

Add export with referenced images to export_figures example
  docs/examples/export_figures.py
Due: black, isort, mypy

fix: Update tests and examples for docling-core 2.5.1 (#449)
  docs/examples/export_figures.py
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v1/redp5110_sampled.pages.json
  tests/data/groundtruth/docling_v2/2203.01017v2.doctags.txt
  tests/data/groundtruth/docling_v2/2206.01062.doctags.txt
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.doctags.txt
  tests/data/groundtruth/docling_v2/2305.03393v1.doctags.txt
  tests/data/groundtruth/docling_v2/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v2/redp5110_sampled.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.pages.json
Due: black, isort, mypy

fix: use correct image index in word backend (#442)
  docling/backend/msword_backend.py
Due: black, isort, mypy

feat(ocr): added support for RapidOCR engine (#415)
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/models/rapid_ocr_model.py
  docling/pipeline/standard_pdf_pipeline.py
  docs/examples/full_page_ocr.py
  docs/installation.md
  poetry.lock
  pyproject.toml
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

robustify & simplify format option resolution
  docling/document_converter.py
Due: black, isort, mypy

updated the README, still need to update the docsa
  README.md
Due: none

docs: extend integration docs & README
  README.md
  docs/assets/docling_ecosystem.png
  docs/assets/docling_ecosystem.pptx
  docs/index.md
  docs/integrations/bee.md
  docs/integrations/index.md
  docs/integrations/instructlab.md
  docs/integrations/prodigy.md
  docs/integrations/spacy.md
  docs/overrides/main.html
  mkdocs.yml
Due: none

docs: extend integration docs & README (#456)
  README.md
  docs/assets/docling_ecosystem.png
  docs/assets/docling_ecosystem.pptx
  docs/index.md
  docs/integrations/bee.md
  docs/integrations/index.md
  docs/integrations/instructlab.md
  docs/integrations/prodigy.md
  docs/integrations/spacy.md
  docs/overrides/main.html
  mkdocs.yml
Due: none

fix: remove unused deps
  poetry.lock
  pyproject.toml
Due: none

fix(cli): expose debug options
  docling/cli/main.py
Due: black, isort, mypy

fix: remove unused deps (#466)
  poetry.lock
  pyproject.toml
Due: none

fix(cli): expose debug options (#467)
  docling/cli/main.py
Due: black, isort, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbqa_black: any of: \.ipynb$
  nbqa_isort: any of: \.ipynb$
