Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

black:
  name: Black
  entry: poetry run black docling docs/examples tests
  pass_filenames: false
  language: system

isort:
  name: isort
  entry: poetry run isort docling docs/examples tests
  pass_filenames: false
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy docling
  pass_filenames: false
  language: system

nbqa_black:
  name: nbQA Black
  entry: poetry run nbqa black docs/examples
  pass_filenames: false
  language: system

nbqa_isort:
  name: nbQA isort
  entry: poetry run nbqa isort docs/examples
  pass_filenames: false
  language: system

chore: Add example for inspection of picture content
  docs/examples/inspect_picture_content.py
  tests/data/amt_handbook_sample.pdf
Due: black, isort, mypy

docs: document Haystack & Vectara support
  docs/examples/rag_haystack.ipynb
  docs/integrations/haystack.md
  docs/integrations/rhel_ai.md
  docs/integrations/vectara.md
  mkdocs.yml
Due: nbqa_black, nbqa_isort

feat: Enable markdown text formatting for docx
  docling/backend/msword_backend.py
  tests/data/docx/unit_test_formatting.docx
Due: black, isort, mypy

docs: document Haystack & Vectara support (#628)
  docs/examples/rag_haystack.ipynb
  docs/integrations/haystack.md
  docs/integrations/rhel_ai.md
  docs/integrations/vectara.md
  mkdocs.yml
Due: nbqa_black, nbqa_isort

docs: add Weaviate RAG example
  docs/examples/rag_weaviate.ipynb
  mkdocs.yml
Due: nbqa_black, nbqa_isort

docs: add Weaviate RAG recipe notebook (#451)
  docs/examples/rag_weaviate.ipynb
  mkdocs.yml
Due: nbqa_black, nbqa_isort

added http header support for document converter and cli
  docling/cli/main.py
  docling/datamodel/document.py
  docling/document_converter.py
Due: black, isort, mypy

fixed formatting and typing issues
  docling/cli/main.py
  docling/datamodel/document.py
  docling/document_converter.py
Due: black, isort, mypy

fix(mspowerpoint): handle invalid images in PowerPoint slides
  docling/backend/mspowerpoint_backend.py
Due: black, isort, mypy

Update README.md
  README.md
Due: none

Update LICENSE
  LICENSE
Due: none

Add files via upload
  docowling_readme.png
Due: none

Add readme image
  docs/assets/docowling_readme.png
Due: none

Update Docowling
  docs/assets/docowling.png
Due: none

Atualizar o README.md
  README.md
Due: none

Adding CSV backend support
  CITATION.cff
Due: none

add CSV backend support
  docowling_readme.png
Due: none

changes
  .github/mergify.yml
Due: none

changes in pyproject.toml
  .gitignore
  pyproject.toml
Due: none

docling azure ai search
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

azure ai search updates
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

mkdocs
  mkdocs.yml
Due: none

colab check
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

colab link fix
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

Add OpenContracts as an open source project
  docs/integrations/opencontracts.md
Due: none

Update mkdocs.yml
  mkdocs.yml
Due: none

use pydantic to parse dict
  docling/cli/main.py
Due: black, isort, mypy

docs: Add OpenContracts as an integration (#679)
  docs/integrations/opencontracts.md
  mkdocs.yml
Due: none

feat: added http header support for document converter and cli (#642)
  docling/cli/main.py
  docling/datamodel/document.py
  docling/document_converter.py
Due: black, isort, mypy

docs: add integrations, revamp docs
  docs/examples/hybrid_chunking.ipynb
  docs/examples/hybrid_rag_qdrant.ipynb
  docs/examples/rag_haystack.ipynb
  docs/examples/rag_langchain.ipynb
  docs/examples/rag_llamaindex.ipynb
  docs/examples/rag_weaviate.ipynb
  docs/examples/retrieval_qdrant.ipynb
  docs/index.md
  docs/integrations/crewai.md
  docs/integrations/nvidia.md
  docs/integrations/opencontracts.md
  mkdocs.yml
Due: nbqa_black, nbqa_isort

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbqa_black: any of: \.ipynb$
  nbqa_isort: any of: \.ipynb$
