Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: poetry run black docling docs/examples tests
        pass_filenames: false
        language: system
        files: '\.py$'
      - id: isort
        name: isort
        entry: poetry run isort docling docs/examples tests
        pass_filenames: false
        language: system
        files: '\.py$'
#      - id: flake8
#        name: flake8
#        entry: poetry run flake8 docling
#        pass_filenames: false
#        language: system
#        files: '\.py$'
      - id: mypy
        name: MyPy
        entry: poetry run mypy docling
        pass_filenames: false
        language: system
        files: '\.py$'
      - id: nbqa_black
        name: nbQA Black
        entry: poetry run nbqa black docs/examples
        pass_filenames: false
        language: system
        files: '\.ipynb$'
      - id: nbqa_isort
        name: nbQA isort
        entry: poetry run nbqa isort docs/examples
        pass_filenames: false
        language: system
        files: '\.ipynb$'
      - id: poetry
        name: Poetry check
        entry: poetry check --lock
        pass_filenames: false
        language: system

Adding multi-gpu support, and cuda device allocation
  docling/datamodel/pipeline_options.py
  docling/utils/accelerator_utils.py
  docs/examples/run_with_accelerator.py
Due: black, isort, mypy

fix(mspowerpoint): handle invalid images in PowerPoint slides (#650)
  docling/backend/mspowerpoint_backend.py
Due: black, isort, mypy

docs: add integrations, revamp docs (#693)
  docs/examples/hybrid_chunking.ipynb
  docs/examples/hybrid_rag_qdrant.ipynb
  docs/examples/rag_haystack.ipynb
  docs/examples/rag_langchain.ipynb
  docs/examples/rag_llamaindex.ipynb
  docs/examples/rag_weaviate.ipynb
  docs/examples/retrieval_qdrant.ipynb
  docs/index.md
  docs/integrations/crewai.md
  docs/integrations/nvidia.md
  docs/integrations/opencontracts.md
  mkdocs.yml
Due: nbqa_black, nbqa_isort

fix: Let BeautifulSoup detect the HTML encoding
  docling/backend/html_backend.py
Due: black, isort, mypy

Fixes pydantic exception with cuda:n Signed-off-by: ahn <ahn@zurich.ibm.com>
  docling/datamodel/pipeline_options.py
Due: black, isort, mypy

fix: Let BeautifulSoup detect the HTML encoding (#695)
  docling/backend/html_backend.py
Due: black, isort, mypy

docs: fix links between docs pages
  docs/concepts/chunking.md
  docs/v2.md
Due: none

docs: add link to rag with granite
  mkdocs.yml
Due: none

Update mkdocs.yml
  mkdocs.yml
Due: none

fix: Correct scaling of debug visualizations, tune OCR
  docling/models/base_ocr_model.py
  docling/models/layout_model.py
  docling/models/table_structure_model.py
Due: black, isort, mypy

chore: remove unused imports
  docling/models/base_ocr_model.py
Due: black, isort, mypy

ci: added action in docs.yml to generate llms.txt
  .github/workflows/docs.yml
Due: none

docs: specify docstring types
  docs/reference/docling_document.md
Due: none

docs: add link to rag with granite (#698)
  mkdocs.yml
Due: none

fix(msexcel): ignore Mypy checking for _find_images_in_sheet function
  docling/backend/msexcel_backend.py
Due: black, isort, mypy

docs: specify docstring types (#702)
  docs/reference/docling_document.md
Due: none

feat: add support for google ocr
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docling/models/google_ocr_model.py
  docling/pipeline/standard_pdf_pipeline.py
  poetry.lock
  pyproject.toml
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

chore: Update docling-core
  poetry.lock
  pyproject.toml
Due: none

fix: Correct scaling of debug visualizations, tune OCR (#700)
  docling/models/base_ocr_model.py
  docling/models/layout_model.py
  docling/models/table_structure_model.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

Skeleton for SmolDocling model and VLM Pipeline
  docling/datamodel/base_models.py
  docling/models/smol_docling_model.py
  docling/pipeline/vlm_pipeline.py
  docs/examples/minimal_smol_docling.py
Due: black, isort, mypy

ci: pinning llms-txt action version as per PR feedback
  .github/workflows/docs.yml
Due: none

allow earlier requests versions
  poetry.lock
  pyproject.toml
Due: none

fix: allow earlier requests versions (#716)
  poetry.lock
  pyproject.toml
Due: none

docs: add LangChain docs
  README.md
  docs/examples/hybrid_chunking.ipynb
  docs/examples/rag_langchain.ipynb
  docs/index.md
  docs/integrations/haystack.md
  docs/integrations/langchain.md
  mkdocs.yml
Due: nbqa_black, nbqa_isort

docs: add LangChain docs (#717)
  README.md
  docs/examples/hybrid_chunking.ipynb
  docs/examples/rag_langchain.ipynb
  docs/index.md
  docs/integrations/haystack.md
  docs/integrations/langchain.md
  mkdocs.yml
Due: nbqa_black, nbqa_isort

wip smolDocling inference and vlm pipeline
  docling/models/smol_docling_model.py
  docling/pipeline/vlm_pipeline.py
  docs/examples/minimal_smol_docling.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

fix: WIP to fix the glm_utils.to_docling_document() and add a unit test
  docling/utils/glm_utils.py
  tests/data/utils/01030000000016.json
  tests/data/utils/01030000000016.pdf
  tests/test_glm_utils.py
Due: black, isort, mypy

docs: add pointer to LangChain-side docs
  docs/integrations/langchain.md
Due: none

docs: add pointers to LangChain-side docs (#718)
  docs/integrations/langchain.md
Due: none

WIP, first working code for inference of SmolDocling, and vlm pipeline assembly code, example included.
  docling/models/smol_docling_model.py
  docling/pipeline/standard_pdf_pipeline.py
  docling/pipeline/vlm_pipeline.py
  docs/examples/minimal_smol_docling.py
Due: black, isort, mypy

fix: Properly care for all bitmap elements in OCR
  docling/backend/docling_parse_backend.py
  docling/backend/docling_parse_v2_backend.py
  docling/backend/pypdfium2_backend.py
  docling/datamodel/pipeline_options.py
  docling/models/base_ocr_model.py
Due: black, isort, mypy

add more file types when infering the mime type from extesion
  docling/datamodel/document.py
Due: black, isort, mypy

disabled auto file mime type detection, rely on extension
  docling/datamodel/document.py
Due: black, isort, mypy

fix: Improve OCR results, stricten criteria before dropping bitmap areas (#719)
  docling/backend/docling_parse_backend.py
  docling/backend/docling_parse_v2_backend.py
  docling/backend/pypdfium2_backend.py
  docling/datamodel/pipeline_options.py
  docling/models/base_ocr_model.py
Due: black, isort, mypy

Fixes to preserve page image and demo export to html
  docling/models/smol_docling_model.py
  docling/pipeline/base_pipeline.py
  docling/pipeline/vlm_pipeline.py
  docs/examples/minimal_smol_docling.py
Due: black, isort, mypy

Enabled figure support in vlm_pipeline
  docling/pipeline/vlm_pipeline.py
Due: black, isort, mypy

Fix for table span compute in vlm_pipeline
  docling/pipeline/vlm_pipeline.py
  docs/examples/minimal_smol_docling.py
Due: black, isort, mypy

pr comments
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

title change
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

table
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort
