Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

black:
  name: Black
  entry: poetry run black docling docs/examples tests
  pass_filenames: false
  language: system

isort:
  name: isort
  entry: poetry run isort docling docs/examples tests
  pass_filenames: false
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy docling
  pass_filenames: false
  language: system

nbqa_black:
  name: nbQA Black
  entry: poetry run nbqa black docs/examples
  pass_filenames: false
  language: system

nbqa_isort:
  name: nbQA isort
  entry: poetry run nbqa isort docs/examples
  pass_filenames: false
  language: system

added the detection of h1 and the skip_furniture parameter
  docling/backend/html_backend.py
Due: black, isort, mypy

docs: add advanced chunking example
  docs/examples/advanced_chunking.ipynb
Due: nbqa_black, nbqa_isort

add the skip_furniture parameter
  docling/backend/html_backend.py
Due: black, isort, mypy

Add files via upload
  docs/examples/advanced_chunking_with_merging.ipynb
Due: nbqa_black, nbqa_isort

reuse existing chunk/meta types, fix minor issues, lint
  docs/examples/advanced_chunking_with_merging.ipynb
Due: nbqa_black, nbqa_isort

Update advanced_chunking_with_merging
  docs/examples/advanced_chunking_with_merging.ipynb
Due: nbqa_black, nbqa_isort

docs: update LlamaIndex docs
  docs/integrations/llamaindex.md
Due: none

docs: update LlamaIndex docs (#196)
  docs/integrations/llamaindex.md
Due: none

work-in-progress: dealing with in attributes of html elements
  docling/backend/html_backend.py
Due: black, isort, mypy

feat: add more options in the CLI
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
Due: black, isort, mypy

update CLI docs
  docs/usage.md
Due: none

Specify encoding when writing output file to avoid errors when default target encoding doesn't have all characters
  docling/cli/main.py
Due: black, isort, mypy

Fixed typo
  docs/usage.md
Due: none

fix(docs): correct spelling of 'individual'
  docs/usage.md
Due: none

docs: add explicit artifacts path example
  docs/usage.md
Due: none

minor docs fix
  docs/usage.md
Due: none

expose artifacts-path as argument
  docling/cli/main.py
Due: black, isort, mypy

touch to trigger needed checks
  docs/usage.md
Due: none

docs: remove old code from custom_convert.py
  docs/examples/custom_convert.py
Due: black, isort, mypy

docs: update example Dockerfile
  Dockerfile
Due: none

exclude more examples from CI
  .github/workflows/checks.yml
  docs/examples/batch_convert.py
Due: black, isort, mypy

fit: Specify encoding when writing output file (#214)
  docling/cli/main.py
Due: black, isort, mypy

feat: pdf backend, table mode as options and artifacts path (#203)
  docling/cli/main.py
  docling/datamodel/pipeline_options.py
  docs/usage.md
Due: black, isort, mypy

docs: correct spelling of 'individual' (#219)
  docs/usage.md
Due: none

docs: update custom convert and dockerfile (#226)
  Dockerfile
  docs/examples/custom_convert.py
Due: black, isort, mypy

docs: add explicit artifacts path example (#224)
  docs/usage.md
Due: none

chore: update pyproject.toml metadata
  pyproject.toml
Due: none

chore: update pyproject.toml metadata (#229)
  pyproject.toml
Due: none

docs: add artifacts-path param to CLI
  docs/usage.md
Due: none

fix: Dockerfile example copy
  Dockerfile
Due: none

docs: add coming-soon section
  README.md
  docs/index.md
Due: none

Removed the use of doc.name
  docs/examples/advanced_chunking_with_merging.ipynb
Due: nbqa_black, nbqa_isort

updated the html backend to add svg, remove empty list-items and use data-content fields
  docling/backend/html_backend.py
Due: black, isort, mypy

chore: update pypdfium2_backend.py
  docling/backend/pypdfium2_backend.py
Due: black, isort, mypy

chore: update docling_parse_backend.py
  docling/backend/docling_parse_backend.py
Due: black, isort, mypy

chore: update docling_parse_v2_backend.py
  docling/backend/docling_parse_v2_backend.py
Due: black, isort, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  nbqa_black: any of: \.ipynb$
  nbqa_isort: any of: \.ipynb$
