Repository DS4SD/docling: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, nbqa_black, nbqa_isort

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: poetry run black docling docs/examples tests
        pass_filenames: false
        language: system
        files: '\.py$'
      - id: isort
        name: isort
        entry: poetry run isort docling docs/examples tests
        pass_filenames: false
        language: system
        files: '\.py$'
#      - id: flake8
#        name: flake8
#        entry: poetry run flake8 docling
#        pass_filenames: false
#        language: system
#        files: '\.py$'
      - id: mypy
        name: MyPy
        entry: poetry run mypy docling
        pass_filenames: false
        language: system
        files: '\.py$'
      - id: nbqa_black
        name: nbQA Black
        entry: poetry run nbqa black docs/examples
        pass_filenames: false
        language: system
        files: '\.ipynb$'
      - id: nbqa_isort
        name: nbQA isort
        entry: poetry run nbqa isort docs/examples
        pass_filenames: false
        language: system
        files: '\.ipynb$'
      - id: poetry
        name: Poetry check
        entry: poetry check --lock
        pass_filenames: false
        language: system

rename to Azure OpenAI
  docs/examples/rag_azuresearch.ipynb
Due: nbqa_black, nbqa_isort

Properly propagating image data per page, together with predicted tags in VLM pipeline. This enables correct figure extraction and page numbers in provenances
  docling/pipeline/vlm_pipeline.py
  docs/examples/minimal_smol_docling.py
Due: black, isort, mypy

Update custom_convert.py
  docs/examples/custom_convert.py
Due: black, isort, mypy

chore: Update lockfile with docling-parse git branch
  poetry.lock
  pyproject.toml
Due: none

feat: Pass predicted page-headers and page-footers through to DoclingDocument furniture
  docling/models/ds_glm_model.py
  docling/utils/glm_utils.py
Due: black, isort, mypy

added example to translate documents
  docs/examples/translate.py
Due: black, isort, mypy

allow the usage of backends in the enrich models and generalize the interface
  docling/datamodel/base_models.py
  docling/models/base_model.py
  docling/models/page_assemble_model.py
  docling/pipeline/base_pipeline.py
  docling/pipeline/standard_pdf_pipeline.py
  docs/examples/develop_formula_understanding.py
Due: black, isort, mypy

fix get image with cropbox
  docling/backend/docling_parse_backend.py
  docling/backend/docling_parse_v2_backend.py
  docling/backend/pypdfium2_backend.py
Due: black, isort, mypy

move logic in BaseTextImageEnrichmentModel
  docling/datamodel/base_models.py
  docling/models/base_model.py
  docs/examples/develop_formula_understanding.py
Due: black, isort, mypy

updated the mkdocs
  docs/examples/translate.py
  mkdocs.yml
Due: black, isort, mypy

Cleaned up logs, added pages to vlm_pipeline, basic timing per page measurement in smol_docling models
  docling/models/smol_docling_model.py
  docling/pipeline/vlm_pipeline.py
  docs/examples/minimal_smol_docling.py
Due: black, isort, mypy

Replaced hardcoded otsl tokens with the ones from docling-core tokens.py enum
  docling/pipeline/vlm_pipeline.py
Due: black, isort, mypy

renaming
  docling/datamodel/base_models.py
  docling/models/base_model.py
  docling/models/page_assemble_model.py
  docling/pipeline/base_pipeline.py
  docs/examples/develop_formula_understanding.py
Due: black, isort, mypy

fix PR hooks
  docs/examples/translate.py
Due: black, isort, mypy

docs: Example to translate documents (#739)
  docs/examples/translate.py
  mkdocs.yml
Due: black, isort, mypy

refactor: allow the usage of backends in the enrich models and generalize the interface (#742)
  docling/backend/docling_parse_backend.py
  docling/backend/docling_parse_v2_backend.py
  docling/backend/pypdfium2_backend.py
  docling/datamodel/base_models.py
  docling/models/base_model.py
  docling/models/page_assemble_model.py
  docling/pipeline/base_pipeline.py
  docling/pipeline/standard_pdf_pipeline.py
  docs/examples/develop_formula_understanding.py
Due: black, isort, mypy

propagated changes for new CodeItem class
  docling/models/layout_model.py
  docling/models/page_assemble_model.py
  docling/utils/glm_utils.py
  docs/examples/develop_code_equation_enrichment.py
  tests/data/code_and_formulas.pdf
Due: black, isort, mypy

Rebased branch on latest main. changes for CodeItem
  docling/backend/asciidoc_backend.py
  docling/backend/md_backend.py
  docling/backend/msexcel_backend.py
  docling/backend/msword_backend.py
  docling/backend/pdf_backend.py
  docling/models/tesseract_ocr_cli_model.py
  docs/examples/develop_code_equation_enrichment.py
  docs/examples/develop_picture_enrichment.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy

Added tokens/sec measurement, improved example
  docling/models/smol_docling_model.py
  docs/examples/minimal_smol_docling.py
Due: black, isort, mypy

removed unused files
  tests/data/code_and_formulas.pdf
Due: none

chore: update lockfile
  poetry.lock
Due: none

Add "auto" language for TesseractOcr
  docling/models/tesseract_ocr_model.py
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

apply formatting
  docs/examples/custom_convert.py
Due: black, isort, mypy

Update lockfile again
  poetry.lock
Due: none

docs: fix correct Accelerator pipeline options in docs/examples/custom_convert.py (#733)
  docs/examples/custom_convert.py
Due: black, isort, mypy

Final docling-parse pinning
  poetry.lock
  pyproject.toml
Due: none

fix: Update docling-parse-v2 backend version with new parsing fixes (#769)
  poetry.lock
  pyproject.toml
Due: none

ci: added action to generate llms.txt (#701)
  .github/workflows/docs.yml
Due: none

docs: fix links between docs pages (#697)
  docs/concepts/chunking.md
  docs/v2.md
Due: none

test: image input as stream
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9-img.doctags.txt
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9-img.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9-img.md
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9-img.pages.json
  tests/test_image_input.py
Due: black, isort, mypy

feat: Introduce plugin support for document conversion
  docling/cli/main.py
  docling/datamodel/document.py
  docling/document_converter.py
  docling/plugins/__init__.py
  docling/plugins/base.py
  docling/plugins/manager.py
  docling/plugins/models.py
  docs/examples/plugin_basic.py
  docs/examples/plugin_translation.py
  docs/usage.md
  tests/test_plugin_manager.py
Due: black, isort, mypy

fix: Test case re-generation
  tests/data/groundtruth/docling_v1/2203.01017v2.json
  tests/data/groundtruth/docling_v1/2203.01017v2.pages.json
  tests/data/groundtruth/docling_v1/2206.01062.json
  tests/data/groundtruth/docling_v1/2206.01062.pages.json
  tests/data/groundtruth/docling_v1/2305.03393v1.json
  tests/data/groundtruth/docling_v1/2305.03393v1.pages.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.pages.json
  tests/data/groundtruth/docling_v2/2203.01017v2.json
  tests/data/groundtruth/docling_v2/2203.01017v2.pages.json
  tests/data/groundtruth/docling_v2/2206.01062.json
  tests/data/groundtruth/docling_v2/2206.01062.pages.json
  tests/data/groundtruth/docling_v2/2305.03393v1.json
  tests/data/groundtruth/docling_v2/2305.03393v1.pages.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.pages.json
Due: none

fix: Test case re-generation only on CPU
  tests/data/groundtruth/docling_v1/2203.01017v2.json
  tests/data/groundtruth/docling_v1/2203.01017v2.pages.json
  tests/data/groundtruth/docling_v1/2206.01062.json
  tests/data/groundtruth/docling_v1/2206.01062.pages.json
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v1/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v1/2305.03393v1.json
  tests/data/groundtruth/docling_v1/2305.03393v1.pages.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.json
  tests/data/groundtruth/docling_v1/redp5110_sampled.pages.json
  tests/data/groundtruth/docling_v2/2203.01017v2.json
  tests/data/groundtruth/docling_v2/2203.01017v2.pages.json
  tests/data/groundtruth/docling_v2/2206.01062.json
  tests/data/groundtruth/docling_v2/2206.01062.pages.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.json
  tests/data/groundtruth/docling_v2/2305.03393v1-pg9.pages.json
  tests/data/groundtruth/docling_v2/2305.03393v1.json
  tests/data/groundtruth/docling_v2/2305.03393v1.pages.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.pages.json
  tests/data_scanned/groundtruth/docling_v1/ocr_test.pages.json
  tests/data_scanned/groundtruth/docling_v2/ocr_test.pages.json
  tests/test_e2e_conversion.py
  tests/test_e2e_ocr_conversion.py
Due: black, isort, mypy

fix: Add missing GT files
  tests/data/groundtruth/docling_v1/amt_handbook_sample.doctags.txt
  tests/data/groundtruth/docling_v1/amt_handbook_sample.json
  tests/data/groundtruth/docling_v1/amt_handbook_sample.md
  tests/data/groundtruth/docling_v1/amt_handbook_sample.pages.json
  tests/data/groundtruth/docling_v2/amt_handbook_sample.doctags.txt
  tests/data/groundtruth/docling_v2/amt_handbook_sample.json
  tests/data/groundtruth/docling_v2/amt_handbook_sample.md
  tests/data/groundtruth/docling_v2/amt_handbook_sample.pages.json
Due: none

feat: add Docling JSON ingestion
  docling/backend/abstract_backend.py
  docling/backend/json/__init__.py
  docling/backend/json/docling_json_backend.py
  docling/datamodel/base_models.py
  docling/datamodel/document.py
  docling/document_converter.py
Due: black, isort, mypy
